/404.html
/bigoil.html
/bigoil.js
/compost.html
/compost.js
/connectfour.html
/connectfour.js
/contactme.html
/drawtest.html
/flaskforge.html
/flaskforge.js
/index.html
/IzmirGuessr.html
/IzmirGuessr.js
/minesweeper.html
/minesweeper.js
/node_modules
/ortalamator.html
/ortalamator.js
/package-lock.json
/package.json
/placeholder.html
/static
/test.html
/test.js
/test2.html
/test2.js
/test3.ejs