.forgegrid {
	width: 90vw;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	margin-top: 15px;
}

.forgegrid-content {
	display: flex;
}

.forgegrid-content p {
	flex-grow: 1;
}

.forgegrid-item {
	width: 90%;
	height: 90%;
	background-color: #ccc;
	border: 1px solid #000;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.forgegrid-image {
	width: 5vw;
	height: 10vh;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.forgegrid-item p {
	flex-grow: 1;
	white-space: nowrap;
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin: 0; 
	font-size: 20px;
}


.gem-text {
	text-align: center;
}
