.forge {
    &satir { 
        width: 90vw;
        height: 11dvh;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &grid {
        width: 90vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        &-content {
        display: flex;
    
            p {
                flex-grow: 1;
            }
        }
    
        &-item {
        width: 47%;
        height: 90%;
        background-color: #ccc;
        border: 0.05vw solid #000;
        box-sizing: border-box;
        position: relative;
        justify-content: space-between;
        align-items: center;
        }
    
        &-image {
        width: 4vw;
        height: 8dvh;
        position: absolute;
        left: 0.5vw;
        top: 50%;
        transform: translateY(-50%);
        }
    
        p {
        flex-grow: 1;
        white-space: nowrap;
        display: flex;
        }
    }
}  
.gem-text {
justify-content: center;
margin: 0.68vw;
padding: 0;
}  
