* {
	box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

.gm-fullscreen-control { /* Full screen button at top right */
	background: rgb(0, 0, 0, 0.8) !important;
}

.gm-style div div a, .gm-style-cc, .leaflet-control { /* Unnecessary Map Text */	
	display: none !important;
}

div.gm-bundled-control:nth-child(2) { /* Compass Location */	
	left: 0;
	right: 0;
}

@media (width > 767px) { /* Big Screens */	
	body {
		background-image: url("../static/imageswebp/cloud.webp"), url("../static/images/cloud.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		overflow: hidden;
	}

	#title-section {
		background-image: url("../static/imageswebp/thunder.webp"), url("../static/images/thunder.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 0.2vw solid black;
		margin-bottom: 0.9dvh;
		height: 8dvh;
	}

	.main-menu-text {
		font-size: min(2dvw, 4dvh);
		text-align: center;
		color: white;
		margin: 0;
		text-shadow: 0.1vw 0.2vh #b5b5b5;
		-webkit-backdrop-filter: blur(0.2vw);
		backdrop-filter: blur(0.2vw);
	}

	.main-menu-button {
		cursor: pointer;
		width: 8dvh;
		height: 8dvh;
		background-image: url("/static/imageswebp/vicinti3.webp"), url("/static/images/vicinti3.png");
	}

	#title-section a div {
		background-image: url("/static/imageswebp/vicinti87.webp"), url("/static/images/vicinti87.png");
		width: 8dvh;
		height: 8dvh;
		background-size: contain;
	}

	#gamemap {
		width: 100vw;
		height: 100dvh;
		position: absolute;
		z-index: 1;
		display: none;
	}

	#mini-map {
		width: 100%;
		height: 90%;
		z-index: 3;
	}

	.result-map {
		height: 35dvh;
		width: 100%;
		border: min(0.05vw, 0.1vh) solid black;
		margin-bottom: 2dvh;
	}

	#overlay-container {
        display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20vw;
		height: 30dvh;
		z-index: 2;
		flex-direction: column;
		align-items: center;
		margin-right: 3vw;
		margin-bottom: 4dvh;
		border: min(0.05vw, 0.05vh) solid black;        
	}

	#overlay-container.hovered {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30vw;
		height: 45dvh;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 3vw;
		margin-bottom: 4dvh;
		border: min(0.05vw, 0.05vh) solid black;
	}

	#action-button {
		width: 100%;
		height: 10%;
		background-color: #4caf50;
		color: white;
		border: none;
		font-size: min(1dvw, 2dvh);
	}

	#next-game-button {
		width: 50%;
		height: 3dvh;
	}

	.modal {
		display: flex;
		flex-direction: column;
		display: none;
		position: fixed;
		z-index: 1;
		width: 30vw;
		height: 53dvh;
		margin-top: 20dvh;
		overflow: auto;
		border: min(0.1vw, 0.2vh) solid black;
		justify-content: center;
		background-image: url("../static/imageswebp/izmirpixel.webp"), url("../static/images/izmirpixel.png");
	}

	#final-results-modal {
		display: flex;
		flex-direction: column;
		display: none;
		position: absolute;
		z-index: 4;
		width: 30vw;
		height: 53dvh;
		margin-top: 20dvh;
		overflow: auto;
		background-color: #fefefe;
		padding: 0.5vw;
		border: min(0.1vw, 0.2vh) solid black;
		justify-content: center;
		background-repeat: repeat;
		background-image: url("../static/imageswebp/izmirpixel.webp"), url("../static/images/izmirpixel.png");
		align-items: center;
	}

	.modalrow {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 5dvh;
		justify-content: center;
		text-align: center;
		font-size: min(1dvw, 2dvh);
		margin-top: 1vw;
		-webkit-backdrop-filter: blur(0.5vw);
		backdrop-filter: blur(0.5vw);
		border: min(0.1vw, 0.2vh) solid black;
		align-items: center;
	}

	.finalrow {
		display: flex;
		flex-direction: row;
		width: 20vw;
		height: 5dvh;
		margin-left: 4.5vw;
		margin-top: 6dvh;
		justify-content: center;
		text-align: center;
		font-size: min(1dvw, 2dvh);
		-webkit-backdrop-filter: blur(0.5vw);
		backdrop-filter: blur(0.5vw);
		border: min(0.2vw, 0.4vh) solid black;
		align-items: center;
	}

	.modalcontent {
		flex: 1;
		margin: 0;
	}

	#result-info {
		margin-top: 2.35dvh;
	}

	#returntomenu-button, #playagain-button {
		height: 4.2dvh;
	}

	#mini-map .gmnoprint, #result-map .gmnoprint {
		display: none !important;
	}

	#buttonrow {
		width: 90vw;
		margin-right: 10vw;
		height: 10dvh;
		background-color: transparent;
		font-size: min(0.4dvw, 0.8dvh);
		z-index: 5;
		position: absolute;
		overflow: auto;
		display: none;
		flex-direction: row;
		justify-content: flex-start;
	}

    #closeandreturn {
        display: flex;
		flex-direction: row;
		width: auto;
		height: 4.3dvh;
        margin: 1.1dvh 0.5vw 0 0.5vw;		
		background-color: rgb(0, 0, 0, 0.8);
		border-radius: 1vh;
	}

    #izmirclose {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-right: 0.5vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M18%206l-12%2012%22%20%2F%3E%20%3Cpath%20d%3D%22M6%206l12%2012%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		cursor: pointer;
		background-size: 100% auto;
	}

	#returnbutton {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-left: 0.5vw;
        margin-right: 0.5vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M19.933%2013.041a8%208%200%201%201%20-9.925%20-8.788c3.899%20-1%207.935%201.007%209.425%204.747%22%20%2F%3E%20%3Cpath%20d%3D%22M20%204v5h-5%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		cursor: pointer;
		background-size: 100% auto;
	}

	#alarmicon {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-left: 1vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M12%2013m-7%200a7%207%200%201%200%2014%200a7%207%200%201%200%20-14%200%22%20%2F%3E%20%3Cpath%20d%3D%22M12%2010l0%203l2%200%22%20%2F%3E%20%3Cpath%20d%3D%22M7%204l-2.75%202%22%20%2F%3E%20%3Cpath%20d%3D%22M17%204l2.75%202%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
	}

	#timer {
		display: none;
		width: 20vw;
		height: 4.3dvh;
		line-height: 4.3dvh;
		color: white;
		font-size: min(1.5dvw, 3dvh);
		text-align: center;
	}

    #modaltoggle-button {
		display: none;
		width: auto;
		height: 4.3dvh;
		line-height: 4.3dvh;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		margin-top: 1.1dvh;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		font-size: min(1.25dvw, 2.5dvh);
		border-radius: min(0.25vw, 0.5vh);
		cursor: pointer;
		padding: 0 1em 0 1em;
	}

	/* menu styles */

	#map2 {
		width: 50vw;
		height: 90dvh;
		display: block;
		border: 1px solid black;
		position: absolute;
	}

	#mainMapInfo {
		width: 50vw;
		height: 5dvh;
		background: linear-gradient(0deg, rgb(10, 10, 10, 0.9) 30%, rgb(40, 40, 40, 0.8) 100%);
		color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: absolute;
		margin-top: 85dvh;
		z-index: 999991923912391923919239;
	}

	.startpage {
		display: flex;
		flex-direction: row;
	}

	.startpagelefthalf {
		width: 50vw;
		height: 90dvh;
		margin-right: 2vw;
		position: relative;
	}

	#faq-menu {
		width: 80vw;
		height: 80dvh;
        margin: 10dvh 10vw 10dvh 10vw;
		display: none;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
        position: fixed;
        z-index: 4198000000000000000000000000000000002;
	}

	#startpagerighthalf {
		width: 45vw;
		height: 90dvh;
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		background-image: url("../static/imageswebp/izmirguessrlogo.webp"), url("../static/images/izmirguessrlogo.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
	}

	#izmirilcebox {
		width: 100%;
		height: auto;
		align-items: center;
		padding: 5vh 5% 2vh 5%;
	}

	.ilcebutton {
		font-size: min(1.5dvw, 3dvh);
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

	.izmirilcebottombuttons {
		width: 42vw;
		height: 8dvh;
		margin-top: 1dvh;
		border: min(0.05vw, 0.1vh) solid black;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: min(0.5vw, 1vh);
	}

	.addremovebuttons {
		font-size: min(1.6dvw, 3.2dvh);
		margin: 0.1vw;
		margin-left: 1.5vw;
	}

	.ilcesayisi {
		font-size: min(1.2dvw, 2.4dvh);
		margin-left: 1.6vw;
		margin-bottom: 2dvh;
		text-align: center;
	}

	#izmirlastrows2 {
		width: auto;
		height: auto;
		display: flex;
		flex-direction: row;
		gap: 1vw;
		align-items: center;
		flex-wrap: wrap;
		padding: 15vh 0 7vh 12.5%;
	}

	.izmirayarlar {
		font-size: min(1dvw, 2dvh);
		margin-left: 5vw;
		transform: scale(1.5);
		margin-right: 2vw;
	}

	#izmirtime {
		font-size: min(1dvw, 2dvh);
	}
}

@media (width < 768px) {
	body {
		background-image: url("../static/imageswebp/cloud.webp"), url("../static/images/cloud.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		display: flex;
		margin: 0;
        padding: 0;
		flex-direction: column;
		align-items: center;
	}

	#title-section {
		background-image: url("../static/imageswebp/thunder.webp"), url("../static/images/thunder.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 0.5vw solid black;
		margin-bottom: 0.1svh;
		height: 8dvh;
	}

	.main-menu-button {
		cursor: pointer;
		width: 8svh;
		height: 8svh;
	}

	#title-section a div {
		background-image: url("/static/imageswebp/vicinti50.webp"), url("/static/images/vicinti50.png");
		width: 8svh;
		height: 8svh;
		background-size: contain;
	}

	.main-menu-text {
		width: 100%;
		font-size: min(4vw, 2svh);
		text-align: center;
		margin-left: 1vw;
		margin-right: 1vw;
		color: white;
		margin: 0;
	}

	#gamemap {
		width: 100vw;
		height: 65svh;
		position: absolute;
		z-index: 1;
		display: none;
	}

	#mini-map {
		width: 100vw;
		height: 30svh;
		z-index: 3;
	}

	.result-map {
		height: 35svh;
		width: 100%;
		border: 0.05vw solid black;
		margin-bottom: 2svh;
	}

	#overlay-container {
        display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 35svh;
		z-index: 2;
		flex-direction: column;
		align-items: center;
		border: 0.05vw solid black;
	}

	#overlay-container.hovered {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 35svh;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 0.05vw solid black;
	}

	#action-button {
		width: 100%;
		height: 5svh;
		background-color: #4caf50; /* Green */
		color: white;
		border: none;
		font-size: 1.2em;
	}

	#next-game-button {
		width: 100%;
		height: 5svh;
	}

	.modal {
		display: flex;
		flex-direction: column;
		display: none;
		position: fixed;
		z-index: 1;
		width: 100vw;
		height: 50svh;
		margin-top: 20svh;
		overflow: auto;
		border: 1px solid black;

		justify-content: center;
		background-image: url("../static/imageswebp/izmirpixel.webp"), url("../static/images/izmirpixel.png");
	}

	#final-results-modal {
		display: flex;
		flex-direction: column;
		display: none;
		position: absolute;
		z-index: 4;
		width: 100vw;
		height: 50svh;
		margin-top: 20svh;
		overflow: auto;
		background-color: #fefefe;
		padding: 0.5vw;
		border: 1px solid black;
		justify-content: center;

		background-repeat: repeat;
		background-image: url("../static/imageswebp/izmirpixel.webp"), url("../static/images/izmirpixel.png");
		align-items: center;
	}

	.modalrow {
		display: flex;
		flex-direction: row;
		width: 90vw;
		height: 5svh;
		margin-left: 5vw;
		justify-content: center;
		text-align: center;
		font-size: 2svh;
		margin-top: 2svh;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 1px solid black;
		align-items: center;
	}

	.finalrow {
		display: flex;
		flex-direction: row;
		width: 90vw;
		height: 5svh;
		margin-left: 5vw;
		margin-top: 6svh;
		justify-content: center;
		text-align: center;
		font-size: 2svh;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 0.2vw solid black;
		align-items: center;
	}

	.modalcontent {
		flex: 1;
		margin: 0;
		font-size: 1.5svh;
	}

	#result-info {
		margin-top: 2.35svh;
	}

	#returntomenu-button,
	#playagain-button {
		height: 4.9svh;
	}

	#mini-map .gmnoprint,
	#result-map .gmnoprint {
		display: none !important;
	}

	#buttonrow {
		width: 85vw;
		margin-left: -15vw;
		height: 4svh;
		background-color: transparent;
		margin-top: 1.6svh;
		font-size: 0.4vw;
		z-index: 5;
		position: absolute;
		display: none;
		flex-direction: row;
		justify-content: flex-start;
	}

	#izmirclose {
		width: 4svh;
		height: 4svh;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M18%206l-12%2012%22%20%2F%3E%20%3Cpath%20d%3D%22M6%206l12%2012%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
	}

	#returnbutton {
		margin-left: 0.5svh;
		width: 4svh;
		height: 4svh;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M19.933%2013.041a8%208%200%201%201%20-9.925%20-8.788c3.899%20-1%207.935%201.007%209.425%204.747%22%20%2F%3E%20%3Cpath%20d%3D%22M20%204v5h-5%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
	}

	#alarmicon {
		width: 4svh;
		height: 4svh;
		margin-right: 0.5vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M12%2013m-7%200a7%207%200%201%200%2014%200a7%207%200%201%200%20-14%200%22%20%2F%3E%20%3Cpath%20d%3D%22M12%2010l0%203l2%200%22%20%2F%3E%20%3Cpath%20d%3D%22M7%204l-2.75%202%22%20%2F%3E%20%3Cpath%20d%3D%22M17%204l2.75%202%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
	}

	#timer {
		display: none;
		margin-right: 0.5svh;
		width: 14svh;
		height: 4svh;
		line-height: 2svh;
		color: black;
		font-size: 1.3svh;
		text-align: center;
	}

	#modaltoggle-button {
		display: none;
		margin-left: 0.5svh;
		margin-right: 0.5svh;
		width: auto;
		height: 4svh;
		line-height: 4svh;
		font-size: 1.5svh;
		text-align: center;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		border-radius: min(0.5vw, 0.25svh);
	}

	#closeandreturn {
		width: 8.5svh;
		height: 4svh;
		margin-left: 0.5svh;
		margin-right: 0.5svh;
		display: flex;
		flex-direction: row;
		background-color: rgb(0, 0, 0, 0.8);
		border-radius: min(0.5vw, 0.25svh);
	}

	/* styles2.css */

	#map2 {
		width: 100vw;
		height: 50svh;
		display: block;
		border: 0.5vw solid black;
	}

	.startpage {
		width: 100vw;
		height: 113svh;
		display: flex;
		margin-top: 1svh;
		flex-direction: column;
	}

	.startpagelefthalf {
		width: 100vw;
		height: 50svh;
	}

	#faq-menu {
		width: 100vw;
		height: 100svh;
		display: none;
        position: fixed;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
	}

	#startpagerighthalf {
		width: 100vw;
		height: 63svh;
		display: flex;
		flex-direction: column;
		border: 0.5vw solid black;
		background-image: url("../static/imageswebp/izmirpixel.webp"), url("../static/images/izmirpixel.png");
		background-repeat: repeat;
	}

	#izmirilcebox {
		width: 100vw;
		height: 40svh;
		align-items: center;
		width: 100vw;
		height: 35svh;
		padding: 1vw;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}

	.izmirfaq {
		width: 50%;
		height: 100%;
		font-size: 2svh;
		margin-left: 1vw;
		margin-right: 1vw;
	}

	.ilcebutton {
		font-size: 2.5svh;
	}

	.izmirilcebottombuttons {
		width: 100vw;
		height: 5svh;

		display: flex;
		flex-direction: row;
		align-items: center;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}

	.addremovebuttons {
		font-size: 3vw;
		margin: 0.1vw;
		margin-left: 2vw;
	}

	.ilcesayisi {
		font-size: 4vw;
		margin-left: 10vw;
		text-align: center;
	}

	#izmirlastrows2 {
		width: auto;
		height: auto;
		display: flex;
		flex-direction: row;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		align-items: center;
	}

	.izmirayarlar {
		font-size: 4vw;
		margin-left: 1vw;
		margin-right: 10vw;
		padding: 2vw;
		display: flex;
		flex-direction: row;
	}

	.izmirstartgame {
		width: 100%;
		height: 100%;
		margin-left: 2vw;
		font-size: 2svh;
		margin-right: 1vw;
	}

	#izmirtime {
		font-size: 3vw;
	}
}
