* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:active {
	color: white;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

.gm-fullscreen-control {
	/* Full screen button at top right */
	background: rgb(0, 0, 0, 0.8) !important;
}

.gm-style div div a,
.gm-style-cc,
.leaflet-control {
	/* Unnecessary Map Text */
	display: none !important;
}

div.gm-bundled-control:nth-child(2) {
	/* Compass Location */
	left: 0;
	right: 0;
}

#mini-map .gmnoprint,
#result-map .gmnoprint {
	display: none !important;
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcolumn {
	display: flex;
	flex-direction: column;
}

@media (width > 767px) {
	/* Big Screens */
	body {
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		overflow: hidden;
	}

	#title-section {
		background-image: url("../static/imageswebp/thunder.webp"), url("../static/images/thunder.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 0.2vw solid black;
		margin-bottom: 0.9dvh;
		height: 8dvh;
	}

	.main-menu-text {
		font-size: min(2dvw, 4dvh);
		text-align: center;
		color: white;
		margin: 0;
		text-shadow: 0.1vw 0.2vh #b5b5b5;
		-webkit-backdrop-filter: blur(0.2vw);
		backdrop-filter: blur(0.2vw);
	}

	.main-menu-button {
		cursor: pointer;
		width: 8dvh;
		height: 8dvh;
		background-image: url("/static/imageswebp/vicinti3.webp"), url("/static/images/vicinti3.png");
	}

	#title-section a div {
		background-image: url("/static/imageswebp/vicinti87.webp"), url("/static/images/vicinti87.png");
		width: 8dvh;
		height: 8dvh;
		background-size: contain;
	}

	#gamemap {
		width: 100vw;
		height: 100dvh;
		position: absolute;
		z-index: 1;
		display: none;
	}

	#mini-map {
		width: 100%;
		height: 90%;
		z-index: 3;
	}

	#overlay-container {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 20vw;
		height: 30dvh;
		z-index: 2;
		flex-direction: column;
		align-items: center;
		margin-right: 3vw;
		margin-bottom: 4dvh;
		border: 1px solid black;
	}

	#overlay-container.hovered {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30vw;
		height: 45dvh;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 3vw;
		margin-bottom: 4dvh;
		border: 1px solid black;
	}

	#action-button {
		width: 100%;
		height: 10%;
		background-color: #4caf50;
		color: white;
		border: none;
		font-size: min(1dvw, 2dvh);
	}

	#result-map {
		width: 30vw;
		height: 40dvh;
	}

	#result-modal {
		display: none;
		flex-direction: column;
		position: fixed;
		justify-content: center;
		z-index: 1;
		width: 60vw;
		height: 60dvh;
		margin: 20dvh 0 0 20vw;
		padding: 1vw;
		border: 1px solid white;
		color: white;
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
	}

	#final-results-modal {
		display: none;
		flex-direction: column;
		position: absolute;
		justify-content: space-around;
		align-items: center;
		z-index: 4;
		width: 60vw;
		height: 60dvh;
		margin: 20dvh 0 0 20vw;
		border: 1px solid white;
		color: white;
		background: black;
	}

	.finalrow {
		display: flex;
		flex-direction: row;
		width: 20vw;
		height: 5dvh;
		margin-left: 4.5vw;
		margin-top: 6dvh;
		justify-content: center;
		text-align: center;
		font-size: min(1dvw, 2dvh);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border: 1px solid black;
		align-items: center;
	}

	#result-info {
		margin-top: 2.35dvh;
	}

	#returntomenu-button,
	#playagain-button {
		height: 4.2dvh;
	}

	#buttonrow {
		width: 90vw;
		margin-right: 10vw;
		height: 10dvh;
		background-color: transparent;
		font-size: min(0.35dvw, 0.7dvh);
		z-index: 5;
		position: absolute;
		overflow: auto;
		display: none;
		flex-direction: row;
		justify-content: flex-start;
	}

	#closeandreturn {
		display: flex;
		flex-direction: row;
		width: auto;
		height: 4.3dvh;
		margin: 1.1dvh 0.5vw 0 0.5vw;
		background-color: rgb(0, 0, 0, 0.8);
		border-radius: 1vh;
	}

    #buttonRowOtherStuff {
        display: flex;
        flex-direction: row;
    }

	#izmirclose {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-right: 0.5vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M18%206l-12%2012%22%20%2F%3E%20%3Cpath%20d%3D%22M6%206l12%2012%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		cursor: pointer;
		background-size: 100% auto;
	}

	#returnbutton {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M19.933%2013.041a8%208%200%201%201%20-9.925%20-8.788c3.899%20-1%207.935%201.007%209.425%204.747%22%20%2F%3E%20%3Cpath%20d%3D%22M20%204v5h-5%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		cursor: pointer;
		background-size: 100% auto;
	}

	#alarmicon {
		width: 4.3dvh;
		height: 4.3dvh;
		margin-left: 1vw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M12%2013m-7%200a7%207%200%201%200%2014%200a7%207%200%201%200%20-14%200%22%20%2F%3E%20%3Cpath%20d%3D%22M12%2010l0%203l2%200%22%20%2F%3E%20%3Cpath%20d%3D%22M7%204l-2.75%202%22%20%2F%3E%20%3Cpath%20d%3D%22M17%204l2.75%202%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
	}

	#timer {
		display: block;
		width: 20vw;
		height: 4.3dvh;
		line-height: 4.3dvh;
		color: white;
		font-size: min(1.5dvw, 3dvh);
		text-align: center;
	}

	#modaltoggle-button {
		display: none;
		width: auto;
		height: 4.3dvh;
		line-height: 4.3dvh;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		margin-top: 1.1dvh;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		font-size: min(1.25dvw, 2.5dvh);
		border-radius: 1vh;
		cursor: pointer;
		padding: 0 1em 0 1em;
	}

	/* menu styles */

	#map2 {
		width: 50vw;
		height: 90dvh;
		display: block;
		border: 1px solid black;
		position: absolute;
	}

	#mainMapInfo {
		width: 50vw;
		height: 5dvh;
		background: linear-gradient(0deg, rgb(10, 10, 10, 0.9) 30%, rgb(40, 40, 40, 0.8) 100%);
		color: white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: absolute;
		margin-top: 85dvh;
		z-index: 999991923912391923919239;
	}

	#startpage {
		display: flex;
		flex-direction: row;
	}

	#startpagelefthalf {
		width: 50vw;
		height: 90dvh;
		margin-right: 2vw;
		position: relative;
	}

	.menumodal {
		width: 80vw;
		height: 80dvh;
		margin: 10dvh 10vw 10dvh 10vw;
		display: none;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		position: fixed;
		z-index: 419800000000000005456465464654646464649849849799799846546513214964594919500000000000000000002;
	}

	#startpagerighthalf {
		width: 45vw;
		height: 90dvh;
		display: flex;
		flex-direction: column;
		border: 1px solid black;
		background-image: url("../static/imageswebp/izmirguessrlogo.webp"), url("../static/images/izmirguessrlogo.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
	}

	#izmirilcebox {
		width: 100%;
		height: 30%;
		padding: 2.5vh 5% 0 5%;
	}

	#izmirilcebox button {
		font-size: min(1.4dvw, 2.8dvh);
		padding: 0 0.3vw 0 0.3vw;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

	.izmirilcebottombuttons {
		width: 42vw;
		height: 8dvh;
		margin-top: 1dvh;
		border: 1px solid black;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: min(0.5vw, 1vh);
	}

	.addremovebuttons {
		font-size: min(1.6dvw, 3.2dvh);
		margin: 0.1vw;
		margin-left: 1.5vw;
	}

	.ilcesayisi {
		font-size: min(1.2dvw, 2.4dvh);
		margin-left: 1.6vw;
		text-align: center;
	}

	#mainmenuCompetitiveChecksAndButtons {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 40%;
	}

	#menubuttons {
		width: 14vw;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 1vw;
		align-items: center;
		padding: 0 1vw 0 1vw;
	}

	.izmirayarlar {
		font-size: min(1dvw, 2dvh);
		margin-left: 5vw;
		transform: scale(1.5);
		margin-right: 2vw;
	}

	#izmirtime {
		font-size: min(1dvw, 2dvh);
	}

	#expandButton {
		width: auto;
		max-height: 50px;
		margin: auto 0.5vw auto 0;
		cursor: pointer;
		transition: 1.5s;
		overflow: hidden;
		z-index: 2;
	}

	.buttonInsideButton {
		width: auto;
		height: 50px;
		background-color: rgb(0, 0, 120, 0.8);
		font-size: 1.25em;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		line-height: 50px;
		color: white;
		display: block;
		border: 1px solid rgb(0, 0, 240);
	}

	#expandButton.expanded {
		max-height: 200px;
		transition: 1.5s;
		margin-top: calc(auto);
		z-index: 9995;
	}

	.modalTitleRow {
		width: 100%;
		height: 4vw;
		font-size: 3vw;
		color: white;
		display: flex;
		flex-direction: row;
		margin-bottom: 3vh;
	}

	.modalTitle {
		width: 76vw;
		height: 100%;
		font-weight: bold;
		padding-left: 4vw;
	}

	.modalCloseButton {
		width: 4vw;
		height: 100%;
		cursor: pointer;
	}

	#changeUsernameModalBox {
		color: white;
	}

	#menubuttons button {
		width: calc(100% + 1vw);
		font-size: 1.5vw;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		border-radius: 1vw;
	}

	.blur {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		width: 100%;
		height: 100%;
	}

	#selectGameMode,
	#roundCount {
		width: auto;
		height: 4.3dvh;
		line-height: 4.3dvh;
		margin: 1.1dvh 0.5vw 0 0.5vw;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		font-size: min(1.25vw, 2.5dvh);
		border-radius: 1vh;
		padding: 0 1em 0 1em;
	}

	.modalClose {
		color: #aaa;
		float: right;
		font-size: 3vw;
		font-weight: bold;
		cursor: pointer;
		margin-right: 1vw;
	}

	#competitiveChecks {
		width: 30vw;
		height: calc(100% - 3vw);
		display: flex;
		flex-direction: column;
		color: white;
		text-shadow: 2px 2px 2px black;
		font-size: 1vw;
		text-align: left;
		padding: 0 0 2vw 2vw;
		line-height: 2.3vw;
		background: rgb(0, 0, 0, 0.4);
		border: 1px solid black;
		margin: 0 0 1vw 1vw;
	}

	#menuarabox {
		width: 43vw;
		height: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		text-shadow: 2px 2px 2px black;
		margin: 1vw;
		font-size: 1.15vw;
	}

	#menuaraboxfirst {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: row;
		border: 1px solid black;
		align-items: center;
	}

	#miniLeaderboard,
	#yourStats {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background: rgb(0, 0, 0, 0.4);
	}

	#menusettings {
		width: 100%;
		height: 20%;
		border: 1px solid black;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(0, 0, 0, 0.4);
	}

	#gameplayBackground {
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
		position: fixed;
		z-index: 0;
		display: none;
	}

	#backgroundText {
		position: absolute;
		width: 20vw;
		height: 20vh;
		margin: 40vh 40vw 40vh 40vw;
		color: white;
		font-size: 1.5vw;
	}

	#loadingScreen {
		display: none;
		position: fixed;
		width: 100dvw;
		height: 100dvh;
		color: white;
		background: black;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size: 5vw;
		z-index: 7543666666666666666666666666668345762345782364592873465298376458923756492384562983756289374569823746589237645892364985697;
	}

	#resultModalRight,
	#resultModalLeft {
		width: 15vw;
		height: 40dvh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		font-size: 1vw;
	}

	#resultModalRight {
		padding-left: 1vw;
	}

	#resultModalLeft {
		padding-right: 1vw;
	}

	#resultModalTop {
		display: flex;
		flex-direction: row;
	}

	#resultModalTop h1 {
		font-size: 1.3vw;
	}

	#resultModalBottom {
		width: 60vw;
		height: 60dvh;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 4vw;
	}

	#resultModalBottom button,
	#playagain-button,
	#returntomenu-button {
		padding: 1vh 1vw 1vh 1vw;
		color: white;
		background-color: rgb(0, 0, 0, 0.8);
	}
}

@media (width < 768px) {
	body {
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#title-section {
		background-image: url("../static/imageswebp/thunder.webp"), url("../static/images/thunder.png");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 1px solid black;
		margin-bottom: 0.1dvh;
		height: 8dvh;
	}

	.main-menu-button {
		cursor: pointer;
		width: 8dvh;
		height: 8dvh;
	}

	#title-section a div {
		background-image: url("/static/imageswebp/vicinti50.webp"), url("/static/images/vicinti50.png");
		width: 8dvh;
		height: 8dvh;
		background-size: contain;
	}

	.main-menu-text {
		width: 100%;
		font-size: 2dvh;
		text-align: center;
		margin-left: 1dvw;
		margin-right: 1dvw;
		color: white;
	}

	#gamemap {
		width: 100%;
		height: 65dvh;
		position: absolute;
		z-index: 1;
		display: none;
	}

	#mini-map {
		width: 100%;
		height: 30dvh;
		z-index: 3;
	}

	#result-map {
		width: 100%;
		height: 35dvh;
		border: 1px solid black;
		margin-bottom: 2dvh;
        order: 1;
	}

	#result-modal {
		display: none;
		flex-direction: column;
		position: fixed;
		justify-content: center;
		z-index: 1;
		width: 80dvw;
		height: 80dvh;
		margin: 15dvh 0 0 10vw;
		padding: 1vw;
		border: 1px solid white;
		color: white;
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
	}

	#overlay-container {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 35dvh;
		z-index: 2;
		flex-direction: column;
		align-items: center;
		border: 1px solid black;
	}

	#overlay-container.hovered {
		display: flex;
		flex-direction: column;
		position: absolute;
		align-items: center;
		width: 100%;
		height: 35dvh;
		bottom: 0;
		right: 0;
		z-index: 2;
		border: 1px solid black;
	}

	#action-button {
		width: 100%;
		height: 5dvh;
		background-color: #4caf50;
		color: white;
		border: none;
		font-size: 3dvh;
	}

	#final-results-modal {
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
		display: none;
		flex-direction: column;
		position: absolute;
		align-items: center;
		justify-content: center;
		background-repeat: repeat;
		width: 100%;
		height: 50dvh;
		margin-top: 20dvh;
		padding: 0.5vw;
		border: 1px solid black;
		overflow: auto;
		z-index: 4;
        color: white;
        gap: 7dvw;
        border: 1px solid white;
	}

	.modalrow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		align-items: center;
		width: 90dvw;
		height: 5dvh;
		margin-left: 5vw;
		margin-top: 2dvh;
		font-size: 2dvh;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 1px solid black;
	}

	.finalrow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		align-items: center;
		width: 90dvw;
		height: 5dvh;
		margin-left: 5dvw;
		margin-top: 6dvh;
		font-size: 2dvh;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 1px solid black;
	}

	#result-info {
		margin-top: 2.35dvh;
	}

	#returntomenu-button,
	#playagain-button {
		height: 4.9dvh;
	}

	#buttonrow {
		background-color: transparent;
		display: none;
		flex-direction: row;
		justify-content: flex-start;
		position: absolute;
        width: auto;
		height: 10dvw;
		top: 0;
		margin-top: 1.6dvh;
		z-index: 5;
        flex-wrap: wrap;
        gap: 1vh;
        pointer-events: none;
	}

	#izmirclose {
		width: 10dvw;
		height: 10dvw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M18%206l-12%2012%22%20%2F%3E%20%3Cpath%20d%3D%22M6%206l12%2012%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
        flex-shrink: 0;
	}

	#returnbutton {
		width: 10dvw;
		height: 10dvw;
		margin-left: 1dvw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M19.933%2013.041a8%208%200%201%201%20-9.925%20-8.788c3.899%20-1%207.935%201.007%209.425%204.747%22%20%2F%3E%20%3Cpath%20d%3D%22M20%204v5h-5%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
        flex-shrink: 0;
	}

	#alarmicon {
		width: 10dvw;
		height: 10dvw;
		margin-right: 0.5dvw;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20%3E%20%3Cpath%20d%3D%22M12%2013m-7%200a7%207%200%201%200%2014%200a7%207%200%201%200%20-14%200%22%20%2F%3E%20%3Cpath%20d%3D%22M12%2010l0%203l2%200%22%20%2F%3E%20%3Cpath%20d%3D%22M7%204l-2.75%202%22%20%2F%3E%20%3Cpath%20d%3D%22M17%204l2.75%202%22%20%2F%3E%20%3C%2Fsvg%3E%20");
		background-size: 100% auto;
        flex-shrink: 0;
	}

	#timer {
		display: flex;
		text-align: center;
		width: auto;
		height: 10dvw;
		margin-right: 1dvw;
		line-height: 10dvw;
		font-size: 4dvw;
		color: white;
		flex-shrink: 0;
	}

	#modaltoggle-button {
		display: none;
		text-align: center;
		width: 15dvw;
		height: 10dvw;
		margin: 0 1dvw 0 1dvw;
		line-height: 10dvw;
		font-size: 4dvw;
		border-radius: 2dvw;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		align-items: center;
		justify-content: center;
	}

	#closeandreturn {
		display: flex;
		flex-direction: row;
		width: 80dvw;
		height: 10dvw;
		margin: 0 1dvw 0 1dvw;
		border-radius: 2dvw;
		background-color: rgb(0, 0, 0, 0.8);
        pointer-events: all;
	}

    #buttonRowOtherStuff {
        width: 100%;
        display: flex;
        flex-direction: row;
        pointer-events: all;
    }

	/* styles2.css */

	#map2 {
		display: block;
		width: 100%;
		height: 50dvh;
		border: 1px solid black;
	}

	#startpage {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-top: 1dvh;
	}

	#startpagelefthalf {
		width: 100%;
		height: auto;
	}

	#mainMapInfo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.menumodal {
		display: none;
		position: fixed;
		width: 100%;
		height: 100dvh;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		flex-direction: column;
		z-index: 419800000000000005456465464654646464649849849799799846546513214964594919500000000000000000002;
	}

	#startpagerighthalf {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: auto;
		border: 1px solid black;
		background-image: url("../static/imageswebp/izmirguessrlogo.webp"), url("../static/images/izmirguessrlogo.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	#izmirilcebox {
		width: 100%;
		height: auto;
		padding: 1vw;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}

	#izmirilcebox button {
		padding: 0 0.3vw 0 0.3vw;
		font-size: 5dvw;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

	.addremovebuttons {
		margin: 0.1vw 0.1vw 0.1vw 1vw;
		font-size: 4vw;
		background: transparent;
		color: white;
	}

	#ilcesayisi {
		text-align: center;
		font-size: 4vw;
		color: white;
		margin-left: 4vw;
	}

	#mainmenuCompetitiveChecksAndButtons {
		display: flex;
		flex-direction: column;
	}

	#menubuttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		height: auto;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}

	.izmirayarlar {
		display: flex;
		flex-direction: row;
		padding: 2vw;
		margin: 0 10vw 0 1vw;
		font-size: 4vw;
	}

	#izmirtime {
		font-size: 3vw;
	}

	#expandButton {
		width: 40vw;
		max-height: 4dvh;
		margin-right: 2dvw;
		transition: 1.5s;
		overflow: hidden;
		z-index: 2;
	}

	.buttonInsideButton {
		display: block;
		text-align: center;
		width: auto;
		height: 4dvh;
		font-size: 2.2dvw;
		line-height: 4dvh;
		background-color: rgb(0, 0, 120, 0.8);
		border: 1px solid rgb(0, 0, 240);
		color: white;
	}

	#expandButton.expanded {
		max-height: 16dvh;
		margin-top: 12dvh;
		transition: 1.5s;
		z-index: 9995;
	}

	.modalTitleRow {
		width: 100%;
		height: 10vw;
		font-size: 6vw;
		color: white;
		display: flex;
		flex-direction: row;
		margin-bottom: 3vh;
		align-items: center;
	}

	.modalTitle {
		width: 90vw;
		height: 100%;
		font-weight: bold;
		padding-left: 4vw;
	}

	.modalCloseButton {
		width: 10vw;
		height: 100%;
		cursor: pointer;
	}

	#changeUsernameModalBox {
		color: white;
	}

	#menubuttons button {
		width: 100%;
		font-size: 5dvw;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		border-radius: 1dvw;
		margin-top: 1dvw;
	}

	.blur {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		width: 100%;
		height: 100%;
	}

	#selectGameMode,
	#roundCount {
		height: 10dvw;
		line-height: 10dvw;
		margin: 0 0.5vw 0 0.5vw;
		background-color: rgb(0, 0, 0, 0.8);
		color: white;
		font-size: 4dvw;
		border-radius: 2dvw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

    #selectGameMode {
        width: 63dvw;
    }

    #roundCount {
        width: 18dvw;
    }

	.modalClose {
		color: #aaa;
		float: right;
		font-size: 3vw;
		font-weight: bold;
		cursor: pointer;
		margin-right: 1vw;
	}

	#competitiveChecks {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		color: white;
		text-shadow: 2px 2px 2px black;
		font-size: 3dvw;
		text-align: center;
		padding: 0 0 2vw 2vw;
		line-height: 5dvw;
		background: rgb(0, 0, 0, 0.4);
		border: 1px solid black;
		margin: 0 0 1vw 1vw;
	}

	#menuarabox {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		text-shadow: 2px 2px 2px black;
		margin: 1vw;
		font-size: min(4vw, 2dvh);
	}

	#menuaraboxfirst {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#miniLeaderboard,
	#yourStats {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 1dvh;
		border: 1px solid black;
		background: rgb(0, 0, 0, 0.4);
	}

	#menusettings {
		width: 100%;
		height: 20%;
		border: 1px solid black;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(0, 0, 0, 0.4);
		margin-top: 2dvh;
	}

	#gameplayBackground {
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.875) 100%);
		position: fixed;
		z-index: 0;
		display: none;
	}

	#backgroundText {
		position: absolute;
		width: 80dvw;
		height: 40dvh;
		margin: 30dvh 10dvw 30dvh 10dvw;
		color: white;
		font-size: 10dvw;
        text-align: center;
	}

	#loadingScreen {
		display: none;
		position: fixed;
		width: 100dvw;
		height: 100dvh;
		color: white;
		background: black;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size: 5vw;
		z-index: 7543666666666666666666666666668345762345782364592873465298376458923756492384562983756289374569823746589237645892364985697;
	}

	#resultModalRight,
	#resultModalLeft {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		font-size: 4dvw;
        border: 1px solid white;
	}

	#resultModalRight {
		order: 3;
	}

	#resultModalLeft {
		order: 2;
	}

	#resultModalTop {
		display: flex;
		flex-direction: column;
	}

	#resultModalTop h1 {
		font-size: 5dvw;
	}

	#resultModalBottom {
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 2vw;
        border: 1px solid white;
	}

	#resultModalBottom button,
	#playagain-button,
	#returntomenu-button {
		padding: 1vh 1vw 1vh 1vw;
		color: white;
		background-color: rgb(0, 0, 0, 0.8);
	}
}
