html,
body {
	overscroll-behavior: none;
}

body {
	background: radial-gradient(at 88% 32%, #1f0071 0px, transparent 50%), radial-gradient(at 82% 81%, #322c5f 0px, transparent 50%), radial-gradient(at 10% 20%, #2f3466 0px, transparent 50%), radial-gradient(at 22% 89%, #42133e 0px, transparent 50%), #000000;
}

* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

#aboutMeBox {
	flex-direction: column;
	background-color: black;
	padding: 0 5vw !important;
	gap: 1vh !important;
	align-items: start;
	overflow-y: scroll;
	justify-content: unset !important;
    padding-bottom: 3vh !important;
    overflow-x: hidden;
}

#aboutMeBox p {
	text-align: left;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes blueShades {
	0% {
		background-color: #001f3f;
		box-shadow: 0 8px 16px rgba(0, 31, 63, 0.5);
	}
	25% {
		background-color: #0074d9;
		box-shadow: 0 8px 16px rgba(0, 116, 217, 0.5);
	}
	50% {
		background-color: #7fdbff;
		box-shadow: 0 8px 16px rgba(127, 219, 255, 0.5);
	}
	75% {
		background-color: #39cccc;
		box-shadow: 0 8px 16px rgba(57, 204, 204, 0.5);
	}
	100% {
		background-color: #001f3f;
		box-shadow: 0 8px 16px rgba(0, 31, 63, 0.5);
	}
}

@keyframes hotColors {
	0% {
		background-color: #001f3f;
		box-shadow: 0 8px 16px rgba(0, 31, 63, 0.5);
	}
	25% {
		background-color: #ff4136;
		box-shadow: 0 8px 16px rgba(255, 65, 54, 0.5);
	}
	50% {
		background-color: #ff851b;
		box-shadow: 0 8px 16px rgba(255, 133, 27, 0.5);
	}
	75% {
		background-color: #ffdc00;
		box-shadow: 0 8px 16px rgba(255, 220, 0, 0.5);
	}
	100% {
		background-color: #001f3f;
		box-shadow: 0 8px 16px rgba(0, 31, 63, 0.5);
	}
}

#proceedBtn {
    background-color: rgb(0,80,180);        
}

#proceedBtn:hover {
    background-color: rgb(0,115,250);
}

#cancelBtn {
    background-color: rgb(50,50,50);
}

#cancelBtn:hover {
    background-color: rgb(88,88,88);
}

@media (min-width: 768px) {
	h6 {
		margin-top: 1vw;
		font-size: 0.75vw;
		line-height: 1vw;
	}

	#mainmenuleftbox {
		width: 15vw;
		height: 80svh;
		margin: 0 5vw 0 10vw;
		background-color: black;
		display: flex;
		flex-direction: column;
		color: white;
		border-radius: 3vw;
		position: relative;
		text-align: center;
	}

	#mainmenuleftbox::before {
		content: "";
		position: absolute;
		animation: blueShades 3s infinite;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		border-radius: 3vw;
	}

	#mainmenurightbox {
		position: relative;
        height: fit-content;
	}

	#mainmenurightbox::before {
		content: "";
		position: absolute;
		animation: hotColors 3s infinite;
		top: -1px;
		left: -1px;
		width: calc(60vw + 2px);
		height: calc(80svh + 2px);
		z-index: -1;
		border-top-left-radius: 3vw;
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
	}

	#mainmenugeneralprojects,
	#mainmenuskyblockprojects,
	#aboutMeBox {
		width: 60vw;
		height: 80svh;
		background-color: black;
		display: grid;
		overflow-y: scroll;
		grid-template-columns: repeat(auto-fit, minmax(20vw, 2fr));
		gap: 2vw 5vw;
		padding: 2vw 0 0 5vw;
		justify-content: center;
		border-top-left-radius: 3vw;
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
		overflow: auto;
		scrollbar-width: none;
	}

	#mainmenugeneralprojects::-webkit-scrollbar,
	#mainmenuskyblockprojects::-webkit-scrollbar,
	#aboutMeBox::-webkit-scrollbar,
	#mainmenuskyblockprojects,
	#aboutMeBox {
		display: none;
	}

	#mainmenutabs {
		width: 30vw;
		height: 5svh;
		margin: 7.5svh 0 1px 60vw !important;
		display: flex;
		justify-content: space-between;
	}

	#mainmenuboxes {
		display: flex;
		flex-direction: row;
        height: fit-content;
        margin-bottom: 7.3svh;
	}

	.mainmenubutton {
		width: 10vw;
		background-color: rgb(15, 15, 15, 1);
		color: white;
		cursor: pointer;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.mainmenubutton:hover {
		background-color: gray;
		transition: background-color 0.75s;
	}

	#general,
	#general::before {
		margin: 0 0.1vw 0 0.1vw;
	}

	#skyblock,
	#skyblock::before {
		border-top-right-radius: 2.5svh;
	}

	#aboutme,
	#aboutme::before {
		border-top-left-radius: 2.5svh;
	}

	#general::before,
	#skyblock::before,
	#aboutme::before {
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		animation: hotColors 3s infinite;
		z-index: -1;
	}

	#mainmenupfp {
		width: 10vw;
		height: 10vw;
		margin: 2.5vw 2.5vw 1vw 2.5vw;
		border: 0.1vw solid white;
	}

	#mainmenupfp img {
		width: 10vw;
		height: 10vw;
	}

	.mainmenuline {
		width: 13vw;
		height: 9svh;
		margin: 0.5svh 0.5vw 0vw 1.5vw;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: left;
		cursor: pointer;
		word-break: break-all;
	}

	.mainmenuline img {
		margin-right: 1vw;
	}

	.mainmenuline a {
		color: white;
		text-align: left;
	}

	.mainmenuproject {
		width: 20vw;
		height: 30svh;
		background-color: rgb(50, 50, 50, 1);
		cursor: pointer;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: clamp(1vw, 1.3vw, 1.6vw);
		line-height: 4svh;
		animation: fadeIn 2s ease;
		transition: height 0.5s ease-in-out;
		color: white;
		border-radius: 2vw;
		position: relative;
		z-index: 1;
		scroll-snap-align: center;
		text-align: center;
		margin: -1vh 0 3vh 0;
		overflow: hidden;
	}

	.mainmenuproject img {
		width: 20vw;
		height: 25svh;
		max-height: 25svh;
		transition: transform 0.3s ease;
		z-index: 2;
	}

	.mainmenuproject img:hover {
		transform: scale(1.1);
	}

	.projectname {
		position: relative;
		z-index: 3;
		color: white;
		overflow: hidden;
		padding: 0 1vw 0 1vw;
		text-align: center;
		background-color: rgb(50, 50, 50, 1);
		font-size: 1.15vw;
	}

	.mainmenuproject div {
		z-index: 3;
		color: white;
		margin-top: -0.5svh;
	}

	.mainmenunew {
		width: 13vw;
		height: 6svh;
		position: absolute;
		top: 0;
		right: 0;
		font-size: clamp(0.9vw, 1.1vw, 1.3vw);
		line-height: 2.8svh;
		background-color: rgb(0, 0, 0, 0.8);
		border-bottom-left-radius: 1vw;
		border-top-right-radius: 1vw;
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		padding: 0.1vh 1vw 0 1vw;
	}

	.mainmenulanguage {
		width: 8vh;
		height: 8vh;
		position: absolute;
		top: 0;
		left: 0;
		border-bottom-right-radius: 1vw;
		padding-left: 1vw;
	}

	.mainmenulanguage img {
		width: 7vh;
		height: 7vh;
        margin: 0.5vh 0 0 -3vh;
        background-color: rgb(0, 0, 0, 0.05);
	}

	.mainmenunotready {
		width: 20vw;
		height: 31svh;
		z-index: 8 !important;
		background-color: rgb(25, 25, 25, 0.85);
		position: absolute;
		cursor: not-allowed;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.5rem;
		padding-bottom: 5svh;
		line-height: 8svh;
	}

	#warningModal {
		display: none;
		position: fixed;
		top: 40%;
		left: 40%;
		width: 20%;
		height: 20%;
		border: 1px solid rgba(80, 80, 80);
		background: rgba(20, 20, 20);
        color: rgba(220, 220, 220);
		align-items: center;
		justify-content: center;
		text-align: center;		
		flex-direction: column;
		padding: 20px;
		border-radius: 20px;
		z-index: 999999999999999999999999999999999999999999999999999999999999;
	}

    #warningModalButtons {
        display: flex;
        flex-direction: row;
    }

    #warningModalButtons button {
        margin: 2.5vh;
        margin-top: 6.5vh;
        padding: 1vh 1vw;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: background-color 400ms;
    }

    #aboutMeBox {
        padding-top: 3vh !important;
    }

	#aboutMeBox div, #aboutMeBox h2, #aboutMeBox h3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: left;
		gap: 1vw;
		line-height: 2.5vh;
		flex-wrap: wrap;
	}

	#aboutMeBox img,
	pre {
		width: 2.5vh;
		height: 2.5vh;
	}

	#aboutMeBox img, #aboutMeBox div, #aboutMeBox h2, #aboutMeBox h3, #aboutMeBox p {
		animation: fadeIn 2s ease;
	}
}

@media (max-width: 767px) {
    @media screen and (orientation: landscape) {
        body {
            transform: rotate(270deg); /* Prevents rotating the page in mobile */
        }
    }

	h6 {
		margin-top: 1vw;
		font-size: 3.75vw;
		overflow-wrap: break-word;
	}

	#mainmenuleftbox {
		width: 34vw;
		height: 80svh;
		margin: 0 5vw 0 1vw;
		background-color: black;
		display: flex;
		flex-direction: column;
		color: white;
		border-radius: 3vw;
		position: relative;
		text-align: center;
	}

	#mainmenuleftbox::before {
		content: "";
		position: absolute;
		animation: blueShades 3s infinite;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		border-radius: 3vw;
	}

	#mainmenurightbox {
		position: relative;
	}

	#mainmenurightbox::before {
		content: "";
		position: absolute;
		animation: hotColors 3s infinite;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
	}

	#mainmenugeneralprojects,
	#mainmenuskyblockprojects,
	#aboutMeBox {
		width: 59vw;
		height: 80svh;
		background-color: black;
		padding: 2vw;
		display: grid;
		overflow-y: scroll;
		grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
		justify-content: center;
		scroll-snap-type: y mandatory;
		border-bottom-left-radius: 3vw;
		border-bottom-right-radius: 3vw;
		scrollbar-width: none;
	}

	#mainmenugeneralprojects::-webkit-scrollbar,
	#mainmenuskyblockprojects::-webkit-scrollbar,
	#aboutMeBox::-webkit-scrollbar,
	#mainmenuskyblockprojects,
	#aboutMeBox {
		display: none;
	}

	#mainmenutabs {
		width: 59vw;
		height: 5svh;
		margin: 5.5svh 0 1px 40vw !important;
		display: flex;
		justify-content: space-between;
		font-size: 4vw;
	}

	#mainmenuboxes {
		display: flex;
		flex-direction: row;
        margin-bottom: 9svh;
	}

	.mainmenubutton {
		width: calc(59vw / 3);
		background-color: rgb(15, 15, 15, 1);
		color: white;
		cursor: pointer;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.mainmenubutton:hover {
		background-color: gray;
		transition: background-color 0.75s;
	}

	#general,
	#general::before {
		margin: 0 1px 0 1px;
	}

	#skyblock,
	#skyblock::before {
		border-top-right-radius: 2.5svh;
	}

	#aboutme,
	#aboutme::before {
		border-top-left-radius: 2.5svh;
	}

	#general::before,
	#skyblock::before,
	#aboutme::before {
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		animation: hotColors 3s infinite;
		z-index: -1;
	}

	#mainmenupfp {
		width: 30vw;
		height: 30vw;
		margin: 2.5vw 2.5vw 1vw 2.5vw;
		border: 0.1vw solid white;
	}

	#mainmenupfp img {
		width: 30vw;
		height: 30vw;
	}

	.mainmenuline {
		width: 30vw;
		height: 9svh;
		margin: 0.5svh 0.5vw 0vw 1.5vw;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: left;
		cursor: pointer;
		word-break: break-all;
	}

	.mainmenuline img {
		margin-right: 1vw;
	}

	.mainmenuline a {
		color: white;
	}

	.mainmenuproject {
		width: 53vw;
		height: 20svh;
		background-color: rgb(50, 50, 50, 1);
		margin: 1svh 1vw 1svh 1vw;
		cursor: pointer;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: center;
		font-size: 2.1svh;
		animation: fadeIn 2s ease;
		color: white;
		border-radius: 5vw;
		position: relative;
		z-index: 1;
		overflow: hidden;
		scroll-snap-align: center;
		transition: height 0.5s ease-in-out;
	}

	.mainmenuproject img {
		width: 53vw;
		height: 17svh;
		transition: transform 0.3s ease;
	}

	.mainmenuproject img:hover {
		transform: scale(1.1);
	}

	.projectname {
		z-index: 3;
		color: white;
		overflow: hidden;
		font-size: 1.8svh;
		line-height: 2.8svh;
		padding: 0 3vw 0 3vw;
		text-align: center;
        margin-top: -3px;
	}

	.mainmenunew {
		width: 32vw;
		height: 3.5svh;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.4vh !important;
		text-align: center;
		line-height: 1.4vh;
		padding: 0 0 0 2vw;
		background-color: rgb(0, 0, 0, 0.8);
		border-bottom-left-radius: 2vh;
		border-top-right-radius: 2vh;
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		color: white;
		padding: 0.25vh 2vw 0 2vw;
	}

	.mainmenulanguage {
		width: 0vw;
		height: 4svh;
		position: absolute;
		top: 0;
		left: 0;
		border-bottom-right-radius: 1vw;
		padding-left: 1vw;
		line-height: 4svh;
	}

	.mainmenulanguage img {
		width: 5vh;
		height: 5vh;
		margin-left: -0.6vh !important;
	}

	.mainmenunotready {
		width: 100%;
		height: 41svh;
		z-index: 2;
		background-color: rgb(25, 25, 25, 0.85);
		position: absolute;
		cursor: not-allowed;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-bottom: 20svh;
	}

	#warningModal {
		display: none;
		position: fixed;
		top: 25%;
		left: 10%;
		width: 80%;
		height: 50%;
		border: 1px solid rgba(80, 80, 80);
		background: rgba(20, 20, 20);
        color: rgba(220, 220, 220);
		align-items: center;
		justify-content: center;
		text-align: center;
		color: white;
        font-size: 3vh;
		flex-direction: column;
		padding: 20px;
		border-radius: 10px;
		z-index: 999999999999999999999999999999999999999999999999999999999999;
	}

    #warningModalButtons {
        display: flex;
        flex-direction: column;
    }

    #warningModalButtons button {
        margin: 2.5vh;
        margin-top: 6.5vh;
        padding: 2vh 10vw;
        border: none;
        border-radius: 10px;
        color: white;
    }

	#aboutMeBox div, #aboutMeBox h2, #aboutMeBox h3 {
		width: 50vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		text-align: left;
		line-height: 2.5vh;
		margin-top: 1vh;
		overflow-wrap: break-word;
		word-break: normal;
		hyphens: auto;
	}

	#aboutMeBox img,
	#aboutMeBox pre {
		width: 2.5vh;
		height: 2.5vh;
		min-width: 2.5vh;
		min-height: 2.5vh;
		margin-right: 1vh;
	}

	#aboutMeBox * {
		animation: fadeIn 2s ease;
	}
}
