* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

@media (min-width: 768px) {
    @keyframes gradientAnimation {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
    }

    body {        
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        height: 100vh;
        overflow: hidden;
        background: linear-gradient(45deg, #001f3f, #003366, #001f3f);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
        color: #e0e0e0;
        position: relative;
        z-index: 1;
    }    

    a {
        text-decoration: none;
    }

    .title-section {
        background-color: rgb(10,10,20,1);        
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 0.2vw solid black;
        margin-bottom: 0.9dvh;
    }

    .main-menu-text {
        font-size: min(2dvw,4dvh);
        text-align: center; 
        color: white;
        margin: 0;
        text-shadow: 0.1vw 0.2vh #b5b5b5;
        -webkit-backdrop-filter: blur(0.2vw);
        backdrop-filter: blur(0.2vw);
    }

    .project-buttons {
        display: flex;
    }

    .main-menu-button {
        cursor: pointer;
        width: 8dvh;
        height: 8dvh;
        background-image: url("/static/imageswebp/vicinti3.webp"), url("/static/images/vicinti3.png");
    }

    .category-button {
        background: white;
        border: 0.1vw solid black;
        
        font-size: min(1dvw,2dvh);
        color: black;
        text-decoration: none;
        padding: 0.3vw 2.5dvh;
        cursor: pointer;
        margin: 0.5vw 1dvh;
        position: relative;
    }

    #buttonContainer {
        display: flex;
        margin-top: 1.85dvh;
        width: 80%;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0.4vw;
        -webkit-backdrop-filter: blur(0.15vw);
        backdrop-filter: blur(0.15vw);
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 0.05vw 0.6vw rgba(0,0,0,0.25);
    }

    .show {
        display: block;
    }

    #rectangle {
        width: 80vw;
        height: 80dvh;
        text-align: center;
        padding: 1vw 1dvh;
        position: relative;        
        color: white;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        -webkit-backdrop-filter: blur(0.1vw);
        backdrop-filter: blur(0.1vw);
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 0.05vw 0.6vw rgba(0,0,0,0.25);
        border: 0.05vw solid rgba(255,255,255,0.3);
    }

    #rectangle .lessonList li, #rectangle ul li {
        list-style-type: none;
        margin-bottom: 1.2dvh;
        color: white;
    }

    #rectangle select {
        font-size: 1.1dvw;
    }

    #examMode {
        display: none;
    }

    #examResultsMode {
        display: none;
    }

    #faqMode {
        font-size: 1dvw;
        display: none;
    }

    #stat22Mode {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #result {
        display: none;
        font-size: 1.87dvw;
        margin-top: 1.84dvh;
        margin-bottom: 0.92dvh;
    }

    .noteInput {
        display: none;
        font-size: 1.87dvw;
        width: 60%;
        padding: 1.3vw;        
        margin: 0 auto;
        margin-top: 2.77dvh;
        margin-bottom: 2.77dvh;
        text-align: center;
    }

    .vizebutonlar {
        display: flex;
        flex-direction: row;
        width: 40vw;
        margin-top: 1.85dvh;
        margin-left: auto;
        margin-right: auto;
    }

    #calculateButton {
        width: 20vw;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #settingsbutton {
        width: 20vw;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #examResultsText {
        margin-top: 3.7dvh;
        font-size: 1.87dvw;
    }

    .modeButton {
        flex: 1;
        height: 1.82vw;
        color: white;
        background-color: transparent;
    }

    .dropdown {
        font-size: 1dvw;
        position: relative;
        display: inline-block;
    }

    .dropdown button {
        font-size: 1dvw;
        padding: 0.52vw 0.92dvh;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-size: 1dvw;
        box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
    }

    .dropdown-content a {
        color: white;
        font-size: 1dvw;
        padding: 0.88vw;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-size: 1dvw;
        color: white;
    }

    .dropdown-gpa {
        font-size: 1dvw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dropdown-stat22 {
        font-size: 1dvw;
        position: absolute;
        top: 0;
        right: 0;
    }

    .stat22RectanglesContainer {
        position: absolute;
        bottom: 0;
        width: 75vw;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 3.05vw;
        padding-left: 3vw;
    }

    .stat22RectanglesContainer2 {
        position: absolute;
        bottom: 0;
        width: 75vw;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1vw;
        padding-left: 3vw;
    }

    .stat22RectanglesContainer3 {
        position: absolute;
        bottom: 0;
        width: 75vw;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 4.68vw;
        padding-left: 3vw;
    }

    .stat22Rectangle {
        width: 24%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3dvw;
        border: 0.05vw solid white;
    }

    .semesterButtonsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        margin-top: 2.5dvh;
    }

    .semesterButton {
        width: 11%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3dvw;
        border: 0.05vw solid white;
        cursor: pointer;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
        background-color: transparent;
        color: white;
    }

    .middleRectangle {
        width: 80%;
        height: 60%;
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
        display: flex;
        text-align: left;
        font-size: 1.47dvw;
        margin-left: 1vw;
    }

    .rightrectangle {
        width: 20%;
        height: 60%;
        position: absolute;
        top: 45%;
        right: 40%;
        transform: translate(195%, -50%);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.6dvw;
        margin: auto;
    }

    .rightrectangleButton {
        width: 80%;
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.08dvw;
        border: 0.05vw solid white;
        cursor: pointer;
        margin: auto;
        color: white;
        background-color: transparent;
    }

    .rightrectangletext {
        width: 80%;
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.3dvw;
        border: 0.05vw solid white;
        margin: auto;
        color: white;
    }

    .custom-dropdown {
        position: relative;
        display: inline-block;
    }

    .custom-dropdown-content {
        width: 20vw;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .custom-dropdown-content a {
        color: black;
        padding: 5px 10px;
        font-size: min(3.5vw,1.75vh);
        text-decoration: none;
        display: block;
    }

    .custom-dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .custom-dropdown:hover .custom-dropdown-content {
        display: block;
    }

    .custom-submenu {
        position: relative;
    }

    .custom-submenu-content {
        display: none;
        position: absolute;
        font-size: min(3.5vw,1.75vh);
        left: 100%;
        top: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .custom-submenu:hover .custom-submenu-content {
        display: block;
    }

    .vizeveodevinput {
        display: flex;
        flex-direction: row;
    }

    #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }

    .stars {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px) repeat;
        background-size: 10px 10px;
        z-index: 0;
        pointer-events: none;
        clip-path: polygon(0 9vh, 100% 9vh, 100% 100%, 0 100%);
    }
}

@media (max-width: 767px) {
    @keyframes gradientAnimation {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 100% 100%;
        }
        100% {
          background-position: 0% 0%;
        }
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;        
        height: 100%;
        margin: 0;
        height: 100vh;
        overflow: hidden;
        background: linear-gradient(45deg, #001f3f, #003366, #001f3f);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
        color: #e0e0e0;
        position: relative;
        z-index: 1;
    }    

    a {
        text-decoration: none;
    }

    .title-section {
        background-color: rgb(10,10,20,1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 0.5vw solid black;
        margin-bottom: 0.1vh;
    }

    .main-menu-button {
        cursor: pointer;
        width: 6vh;
        height: 6vh;
    }

    .title-section a div {
        background-image: url("/static/imageswebp/vicinti50.webp"), url("/static/images/vicinti50.png");
        width: 6vh;
        height: 6vh;
        background-size: contain;
    }

    .main-menu-text {
        width: 50vw;
        font-size: min(4vw,2vh);
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw;
        color: white;
        margin: 0;
    }

    .project-buttons {
        width: 40vw;
        display: flex;
        align-items: center;
        margin-left: auto;
        top: 0;
        right: 0;
    }

    .category-button {
        background: white;
        border: 0.5vw solid black;
        
        font-size: 2vw;
        color: black;
        padding: 1vw 1vh;
        cursor: pointer;
        margin: 1vw 1vh;
        position: relative;
    }

    #buttonContainer {
        display: flex;
        margin-top: 1.5vh;
        width: 100%;
        justify-content: space-between;
    }

    .show {
        display: block;
    }

    #rectangle {
        width: 100%;
        height: 80vh;
        text-align: center;
        
        padding: 2.5vw;
        position: relative;
    }

    #examMode {
        display: none;
    }

    #examResultsMode {
        display: none;
    }

    #faqMode {
        font-size: 4vw;
        display: none;
        color: white;
    }

    #stat22Mode {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #result {
        display: none;
        font-size: 9vw;
        margin-top: 2.5vh;
        margin-bottom: 1vh;
        color: white;
    }

    .noteInput {
        display: none;
        font-size: 9vw;
        width: 60%;
        padding: 6vw;
        margin: 0 auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        text-align: center;
    }

    .vizebutonlar {
        display: flex;
        flex-direction: row;
        width: 80vw;
        margin-top: 1.85dvh;
        margin-left: auto;
        margin-right: auto;
    }

    #calculateButton {
        width: 40vw;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #settingsbutton {
        width: 40vw;
        display: none;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #examResultsText {
        margin-top: 4vh;
        font-size: 7vw;
        color: white;
    }

    .modeButton {
        flex: 1;
        height: 9vw;
        background-color: transparent;
        color: white;
    }

    .dropdown {
        font-size: 5vw;
        position: relative;
        display: inline-block;
    }

    .dropdown button {
        font-size: 5vw;
        padding: 2.5vw;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-size: 5vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
    }

    .dropdown-content a {
        color: white;
        font-size: 5vw;
        padding: 4vw;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-size: 5vw;
    }

    .dropdown-gpa {
        font-size: 5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dropdown-stat22 {
        font-size: 5vw;
        position: absolute;
        top: 0;
        right: 0;
    }

    .stat22RectanglesContainer {
        width: 95vw;
        height: 5vh;
        display: flex;
        justify-content: flex-start;    
    }

    .stat22RectanglesContainer2 {
        width: 95vw;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        margin-top: 2vh;
    }

    .stat22RectanglesContainer3 {
        width: 95vw;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        margin-top: 52vh;
    }

    .stat22Rectangle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        border: 1px solid white;
        color: white;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .semesterButtonsContainer {
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        height: 7vh;
        justify-content: space-between;
        align-items: center;
        margin-top: 1vh;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .semesterButton {
        width: 25%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        border: 1px solid white;
        cursor: pointer;
        color: white;
        background-color: transparent;
    }

    .middleRectangle {
        width: 85%;
        height: 60%;
        position: absolute;
        top: 45%;
        left: 35%;
        transform: translate(-50%, -50%);
        display: flex;
        text-align: left;
        font-size: 2.5vw;
        border: 1px solid #000;
        color: white;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 1px 12px rgba(0,0,0,0.25);
        border: 1px solid rgba(255,255,255,0.3);
    }

    #rectangle select {
        font-size: 3.5vw;
    }

    .rightrectangle {
        width: 20%;
        height: 60%;
        background-color: white;
        position: absolute;
        top: 45%;
        right: 40%;
        transform: translate(195%, -50%);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        margin: auto;
        border: 1px solid #000;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 1px 12px rgba(0,0,0,0.25);
        border: 1px solid rgba(255,255,255,0.3);
    }

    .rightrectangleButton {
        width: 100%;
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        background-color: transparent;
        color: white;
        border: 5vh white;
        cursor: pointer;
    }

    .rightrectangletext {
        width: 100%;
        height: 50%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        color: white;
    }

    #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }

    #rectangle .lessonList li, #rectangle ul li {
        list-style-type: none;
        margin-bottom: 1vh;
    }

    .custom-dropdown {
        position: relative;
        display: inline-block;
    }

    .custom-dropdown-content {
        width: 20vw;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .custom-dropdown-content a {
        color: black;
        padding: 5px 10px;
        font-size: min(3.5vw,1.75vh);
        text-decoration: none;
        display: block;
    }

    .custom-dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .custom-dropdown:hover .custom-dropdown-content {
        display: block;
    }

    .custom-submenu {
        position: relative;
    }

    .custom-submenu-content {
        display: none;
        position: absolute;
        font-size: min(3.5vw,1.75vh);
        left: 100%;
        top: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .custom-submenu:hover .custom-submenu-content {
        display: block;
    }

    .vizeveodevinput {
        display: flex;
        flex-direction: row;
    }

    .stars {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px) repeat;
        background-size: 10px 10px;
        z-index: 0;
        pointer-events: none;
        clip-path: polygon(0 7vh, 100% 7vh, 100% 100%, 0 100%);
    }
}