		
	body {
	    background-image: url("../static/images/cloud.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
	    text-align: center;
        }

        .title-section {
            background-image: url("../static/images/thunder.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 0.2dvw solid black;
            margin-bottom: 0.9dvh;
        }

        .main-menu-text {
            font-size: 2dvw;
            text-align: center; 
            color: white;
            margin: 0;
            text-shadow: 0.1dvw 0.2dvh #b5b5b5;
            backdrop-filter: blur(0.2dvw);
        }

        .project-buttons {
            display: flex;
        }

        .main-menu-button {
            cursor: pointer;
            width: 4dvw;
            height: 8dvh;
        }

        .category-button {
            background: white;
            border: 0.1dvw solid black;
            box-sizing: border-box;
            font-size: 1dvw;
            color: black;
            text-decoration: none;
            padding: 0.3dvw 2.5dvh;
            cursor: pointer;
            margin: 0.5dvw 1dvh;
            position: relative;
        }

        .project-box {
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-align: left;
            width: 42dvw;
            height: 21dvh;
            margin: 1dvw;
            padding: 0.5dvw;
            border: 0.05dvw solid rgba(0,0,0,0.3);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border-radius: 0.4dvw;
            backdrop-filter: blur(0.1dvw);
            box-shadow: 0 0.05dvw 0.63dvw rgba(255,255,255,0.25);
        }

        .project-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.5dvh;
        }

        .project-button {
            width: 26dvw;
            font-size: 1.2dvw;
        }

        .release-date {
            margin-left: auto;
        }

        .project-content {
            display: flex;
            align-items: center;
        }

        .project-logo {
            width: 7.8dvw;
            height: 7.8dvw;
            margin-right: 0.5dvw;
        }

        .project-description {
            flex: 1;
            height: 16dvh;
            margin-left: 0.5dvw;
        }

        .placeholder-box {
            background: white;
            border: 0.1dvw solid black;
            box-sizing: border-box;
            padding: 0.5dvw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 35dvh;
        }

        .contact-item {
            margin: 0.5dvw 0;
        }

        .contact-item img {
            vertical-align: middle;
            margin-right: 0.5dvw;
        }

        .contact-item a {
            color: white;
            text-decoration: none;
        }

		.contact-box {
            border: 0.1dvw solid white;
            box-sizing: border-box;
            padding: 1dvw;
            background-color: black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30dvh;
        }







        .forgegrid {
            width: 90dvw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .forgegrid-content {
            display: flex;
        }

        .forgegrid-content p {
            flex-grow: 1;
        }

        .forgegrid-item {
            width: 47%;
            height: 90%;
            background-color: #ccc;
            border: 0.05dvw solid #000;
            box-sizing: border-box;
            position: relative;
            justify-content: space-between;
            align-items: center;
        }

        .forgesatir {
            width: 90dvw;
            height: 11dvh;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .forgegrid-image {
            width: 4dvw;
            height: 8dvh;
            position: absolute;
            left: 0.5dvw;
            top: 50%;
            transform: translateY(-50%);
        }

        .forgegrid-item p {
            flex-grow: 1;
            white-space: nowrap;
            display: flex;
        }

        .gem-text {
            justify-content: center;
            margin: 0.68dvw;
            padding: 0;
        }







        .content-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        .bigoilbigbox {
            position: relative;
            padding: 1dvw;
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 1dvw 0;
            box-sizing: border-box;
        }

        .engines-clues-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
        }

        .map-image {
            background-image: url("../static/images/map.png");
            padding: 1dvw;
            color: black;
            background-color: white;
            border: 0.05dvw solid black;
            box-sizing: border-box;
            width: 32%;
            height: 65dvh;
        }

        .engine-list {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
        }

        .engines-section, .clues-section {
            background-color: white;
            width: 34%;
            height: 100%;
            border: 0.05dvw solid black;
            box-sizing: border-box;
            font-size: 1.6dvw;
            position: sticky;
            z-index: 1;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow: auto;
            font-family: Verdana, sans-serif;
            height: 65dvh;
        }

        .bigoilcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0 0.9dvh;
            box-sizing: border-box;
        }

        .faq-title {
            background-color: white;
            border: 0.05dvw solid black;
            box-sizing: border-box;
            text-align: center;
            font-family: Verdana, sans-serif;
            padding: 0 0.9dvh;
            margin: 0;
            font-size: 1dvw;
        }

        .faq-content {
            font-family: Verdana, sans-serif;
            background-color: white;
            border: 0.05dvw solid black;
            box-sizing: border-box;
            padding: 1dvw;
            margin: 0.5dvw;
            justify-self: start;
        }

        .faq-content p {
            margin: 1dvw 0.9dvh;
            text-align: left;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 1dvw 0;
            border: 0.05dvw solid black;
            box-sizing: border-box;
            width: 70%;
        }

        .imagetext {
            font-size: 1dvw;
            color: white;
            backdrop-filter: blur(0.2dvw);
        }

        .imagebigoil {
            text-align: center;
            margin-bottom: 0.9dvh;
            width: 28dvw;
            height: 50dvh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }





        #buttonContainer {
            display: flex;
            margin-top: 1.85dvh;
            width: 80%;
            justify-content: space-between;
            background-color: transparent;
            border-radius: 0.4dvw;
            backdrop-filter: blur(0.15dvw);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 0.05dvw 0.6dvw rgba(0,0,0,0.25);
        }

        .show {
            display: block;
        }

        #rectangle {
            width: 80dvw;
            height: 80dvh;
            text-align: center;
            padding: 1dvw 1dvh;
            position: relative;
            box-sizing: border-box;
            color: white;
            border-radius: 0.4dvw;
            backdrop-filter: blur(0.1dvw);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 0.05dvw 0.6dvw rgba(0,0,0,0.25);
            border: 0.05dvw solid rgba(255,255,255,0.3);
        }

        #rectangle .lessonList li, #rectangle ul li {
            list-style-type: none;
            margin-bottom: 1.2dvh;
            color: white;
        }

        #rectangle select {
            font-size: 1.1dvw;
        }

        #examMode {
            display: none;
        }

        #examResultsMode {
            display: none;
        }

        #faqMode {
            font-size: 1dvw;
            display: none;
        }

        #stat22Mode {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        #result {
            display: none;
            font-size: 1.87dvw;
            margin-top: 1.84dvh;
            margin-bottom: 0.92dvh;
        }

        #noteInput {
            display: none;
            font-size: 1.87dvw;
            width: 60%;
            padding: 1.3dvw;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 2.77dvh;
            margin-bottom: 2.77dvh;
            text-align: center;
        }

        #calculateButton {
            display: none;
            width: 20%;
            margin-top: 1.85dvh;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
        }

        #examResultsText {
            margin-top: 3.7dvh;
            font-size: 1.87dvw;
        }

        .modeButton {
            flex: 1;
            height: 1.82dvw;
            font-family: 'Verdana', sans-serif;
            box-sizing: border-box;
            color: white;
            background-color: transparent;
        }

        .dropdown {
            font-size: 1dvw;
            position: relative;
            display: inline-block;
        }

        .dropdown button {
            font-size: 1dvw;
            padding: 0.52dvw 0.92dvh;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            font-size: 1dvw;
            box-shadow: 0 0.4dvw 0.8dvw 0 rgba(0, 0, 0, 0.2);
            z-index: 5;
        }

        .dropdown-content a {
            color: white;
            font-size: 1dvw;
            padding: 0.88dvw;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            font-size: 1dvw;
            color: white;
        }

        .dropdown-gpa {
            font-size: 1dvw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dropdown-stat22 {
            font-size: 1dvw;
            position: absolute;
            top: 0;
            right: 0;
        }

        .stat22RectanglesContainer {
            position: absolute;
            bottom: 0;
            width: 75dvw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 3.05dvw;
            padding-left: 3dvw;
        }

        .stat22RectanglesContainer2 {
            position: absolute;
            bottom: 0;
            width: 75dvw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 1dvw;
            padding-left: 3dvw;
        }

        .stat22RectanglesContainer3 {
            position: absolute;
            bottom: 0;
            width: 75dvw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 4.68dvw;
            padding-left: 3dvw;
        }

        .stat22Rectangle {
            width: 24%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3dvw;
            border: 0.05dvw solid white;
            box-sizing: border-box;
        }

        .semesterButtonsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            margin-top: 2.5dvh;
        }

        .semesterButton {
            width: 11%;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3dvw;
            border: 0.05dvw solid white;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: 0.4dvw;
            margin-right: 0.4dvw;
            background-color: transparent;
            color: white;
        }

        .middleRectangle {
            width: 80%;
            height: 60%;
            position: absolute;
            top: 45%;
            left: 40%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: left;
            font-size: 1.47dvw;
            box-sizing: border-box;
            margin-left: 1dvw;
        }

        .rightrectangle {
            width: 20%;
            height: 60%;
            position: absolute;
            top: 45%;
            right: 40%;
            transform: translate(195%, -50%);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.6dvw;
            margin: auto;
        }

        .rightrectangleButton {
            width: 80%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.08dvw;
            border: 0.05dvw solid white;
            box-sizing: border-box;
            cursor: pointer;
            margin: auto;
            color: white;
            background-color: transparent;
        }

        .rightrectangletext {
            width: 80%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 1.3dvw;
            border: 0.05dvw solid white;
            box-sizing: border-box;
            margin: auto;
            color: white;
        }

        #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }







#gamemap {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
}

#mini-map {
    width: 100%;
    height: 90%;
    z-index: 3;
    box-sizing: border-box;
}

.result-map {
    height: 35dvh;
    width: 100%;
    border: min(0.05dvw, 0.1dvh) solid black;
    margin-bottom: 2dvh;
    box-sizing: border-box;
}

#overlay-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20dvw;
    height: 30dvh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3dvw;
    margin-bottom: 4dvh;
    border: min(0.05dvw, 0.05dvh) solid black;
    box-sizing: border-box;
}

#overlay-container.hovered {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30dvw;
    height: 45dvh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3dvw;
    margin-bottom: 4dvh;
    border: min(0.05dvw, 0.05dvh) solid black;
    box-sizing: border-box;
}


#action-button {
    width: 100%;
    height: 10%;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    font-size: min(1dvw, 2dvh);
    box-sizing: border-box;
}

#next-game-button {
    width: 50%;
    height: 3dvh;
    box-sizing: border-box;
}

.modal {
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    z-index: 1;
    width: 30dvw;
    height: 53dvh;
    margin-top: 20dvh;
    overflow: auto;
    border: min(0.1dvw, 0.2dvh) solid black;
    box-sizing: border-box;
    justify-content: center;
    background-image: url("../static/images/izmirpixel.png");
}

.final-results-modal {
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 4;
    width: 30dvw;
    height: 53dvh;
    margin-top: 20dvh;
    overflow: auto;
    background-color: #fefefe;
    padding: 0.5dvw;
    border: min(0.1dvw, 0.2dvh) solid black;
    box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
    background-repeat: repeat;
    background-image: url("../static/images/izmirpixel.png");
    align-items: center;
}

.modalrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5dvh;
    justify-content: center;
    text-align: center;
    font-size: min(1dvw, 2dvh);
    font-family: Verdana;
    margin-top: 1dvw;
    box-sizing: border-box;
    backdrop-filter: blur(max(0.5dvw, 1dvh));
    border: min(0.1dvw, 0.2dvh) solid black;
    align-items: center;
}

.finalrow {
    display: flex;
    flex-direction: row;
    width: 20dvw;
    height: 5dvh;
    margin-left: 4.5dvw;
    margin-top: 6dvh;
    justify-content: center;
    text-align: center;
    font-size: min(1dvw, 2dvh);
    font-family: Verdana;
    box-sizing: border-box;
    backdrop-filter: blur(max(0.5dvw, 1dvh));
    border: min(0.2dvw, 0.4dvh) solid black;
    align-items: center;
}

.modalcontent {
    flex: 1;
    margin: 0;
    box-sizing: border-box;
}

#result-info {
    margin-top: 2.35dvh;
    box-sizing: border-box;
}

#returntomenu-button, #playagain-button {
    height: 4.2dvh;
}

#mini-map .gmnoprint, #result-map .gmnoprint {
    display: none !important;
}

#buttonrow {
    width: 50dvw;
    margin-right: 50dvw;
    height: 10dvh;
    background-color: transparent;
    font-size: min(0.4dvw, 0.8dvh);
    z-index: 5;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
}

.modaltoggle-button {
    display: none;
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    margin-top: 1.1dvh;
    width: 5dvw;
    height: 4.3dvh;
    box-sizing: border-box;
    background-color: #222222;
    color: white;
    font-size: min(1.25dvw, 2.5dvh);
}

.returnbutton {
    margin-top: 1.1dvh;
    width: 2.15dvw;
    height: 4.3dvh;
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    background-image: url('../static/images/return40gray.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: min(0.05dvw, 0.1dvh) solid black;
    border-radius: min(0.5dvh, 1dvh);
    box-sizing: border-box;
}

.returnbutton:hover {
    background-image: url('../static/images/return40normal.png');
}

.izmirclose {
    width: 2.15dvw;
    height: 4.3dvh;
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    margin-top: 1.1dvh;
    background-image: url('../static/images/izmirclose1.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: min(0.05dvw, 0.1dvh) solid black;
    border-radius: min(0.5dvh, 1dvh);
    box-sizing: border-box;
}

.izmirclose:hover {
    background-image: url('../static/images/izmirclose2.png');
}

#return-button, #overlay-container {
    display: none;
}

/* styles2.css */

#map2 {
    width: 50dvw;
    height: 80dvh;
    display: block;
    border: min(0.25dvw, 0.5dvh) solid black;
    box-sizing: border-box;
}

.startpage {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.startpagelefthalf {
    width: 52dvw;
    height: 80dvh;
    margin-top: 3dvh;
    box-sizing: border-box;
}

.faq-menu {
    width: 50dvw;
    height: 80dvh;
    margin-right: 2dvw;
    margin-top: 3dvh;
    box-sizing: border-box;
    display: none;
    background-color: white;
    border: min(0.25dvw, 0.5dvh) solid black;
}

.faq-menu.show {
    display: block; 
}

.izmirfaqtext1 {
    font-size: min(2dvw, 4dvh);
    color: red;
}

.izmirfaqtext2 {
    font-size: min(4dvw, 8dvh);
}

.izmirfaqtext3 {
    font-size: min(1.5dvw, 3dvh);
    color: gray;
}

.startpagerighthalf {
    width: 45dvw;
    height: 80dvh;
    margin-top: 3dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: min(0.25dvw, 0.5dvh) solid black;
    background-image: url("../static/images/izmirpixel.png");
    background-repeat: repeat;
}

.izmirgamelogo {
    width: 80%;
    height: 20%; 
    max-width: 30dvw;
    max-height: 15dvw;
    margin-left: 7.5dvw;
    margin-top: 1dvh;
    box-sizing: border-box;
    background-image: url("../static/images/izmirlogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    backdrop-filter: blur(max(0.5dvw, 1dvh));
    border: 0.1dvw solid black;
}

.izmirilcebox {
    width: 42dvw;
    height: 44dvh;
    margin-left: 1.5dvw;
    margin-top: 1dvh;
    box-sizing: border-box;
    align-items: center;
}

.highscore {
    font-size: min(1.5dvw, 3dvh);
    margin-left: 3.5dvw;
}

.izmirfaq {
    width: 31dvh;
    font-size: min(1.65dvw, 3.1dvh);
    margin-left: 1dvw;
    margin-right: 1dvw;
}

#timer {
    display: none;
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    margin-top: 1.1dvh;
    width: 20dvw;
    height: 4.3dvh;
    box-sizing: border-box;
    background-color: #222222;
    color: white;
    font-size: min(1.5dvw, 3dvh);
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: min(0.25dvw, 0.5dvh);
}

.izmirilcebuttons {
    width: 42dvw;
    height: 35dvh;
    box-sizing: border-box;
    border: min(0.05dvw, 0.1dvh) solid black;
    backdrop-filter: blur(max(0.5dvw, 1dvh));
    padding: min(1.7dvw, 3.5dvh);
    padding-top: 5dvh;
    padding-bottom: 5dvh;
}

.ilcebutton {
    font-size: min(1.50dvw, 3.0dvh); 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.izmirilcebottombuttons {
    width: 42dvw;
    height: 8dvh;
    margin-top: 1dvh;
    box-sizing: border-box;
    border: min(0.05dvw, 0.1dvh) solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: min(0.5dvw, 1dvh);
    backdrop-filter: blur(max(0.5dvw, 1dvh));
}

.addremovebuttons {
    font-size: min(1.6dvw, 3.2dvh);
    margin: 0.1dvw;
    margin-left: 1.5dvw;
}

.ilcesayisi {
    font-size: min(1.2dvw, 2.4dvh);
    margin-left: 1.6dvw;
    margin-bottom: 2dvh;
    text-align: center;
}

.izmirlastrows {
    width: 42dvw;
    height: 6dvh;
    margin-left: 1.5dvw;
    margin-top: 2dvh;
    box-sizing: border-box;
    border: min(0.05dvw, 0.1dvh) solid black;
    display: flex;
    flex-direction: row;
    padding: 0.2dvw;
    border-radius: min(0.5dvw, 1dvh);
    align-items: center;
    backdrop-filter: blur(max(0.5dvw, 1dvh));
}

.izmirayarlar {
    font-size: min(1dvw, 2dvh);
    margin-left: 5dvw;
    transform: scale(1.5);
    margin-right: 2dvw;
}

.izmirstartgame {
    width: 82dvh;
    margin-left: 1dvw;
    font-size: min(1.75dvw, 3.5dvh);
    margin-right: 1dvw;
}

#izmirtime {
    font-size: min(1dvw, 2dvh);
}
