
        html {
            background-image: url("../static/images/cloud.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            box-sizing: border-box;
        }

        body {
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
            height: 100vh;
            display: flex;
            margin: 0;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
        }

        .title-section {
            background-image: url("../static/images/thunder.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 3px solid black;
            margin-bottom: 0.1vh;
        }

        .main-menu-button {
            width: 10%;
            cursor: pointer;
            width: 50px;
            height: 50px;
        }

        .main-menu-text {
            width: 50%;
            font-size: 13px;
            padding: 5px 5px;
            text-align: left;
            margin-left: 10px;
            margin-right: 10px;
            color: white;
            margin: 0;
        }

        .project-button {
            width: 330px;
        }

        .project-buttons {
            width: 40%;
            display: flex;
            align-items: center;
            margin-left: auto;
            top: 0;
            right: 0;
        }

        .category-button {
            background: white;
            border: 2px solid black;
            box-sizing: border-box;
            font-size: 8px;
            color: black;
            padding: 5px 5px;
            cursor: pointer;
            margin: 5px 3px;
            position: relative;
        }

        .project-box {
            background-color: black;
            font-size: 15px;
            color: white;
            text-align: center;
            width: 300px;
            height: 300px;
            margin: 10px;
            padding: 10px;
            border: 2px solid white;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .project-info {
            display: flex;
            font-size: 15px; 
            justify-content: space-between; 
            align-items: center;
            margin-bottom: 40px; 
        }

        .release-date {
            margin-left: auto; 
            font-size: 14px; 
        }

        .project-content {
            display: flex;
            align-items: center;
        }

        .project-logo {
            width: 100px; 
            height: 100px;
            margin-right: 10px;
        }

        .project-description {
            flex: 1; 
            margin-left: 10px; 
        }

        .placeholder-box {
            width: 90vw;
            height: 13vh;
            background: white;
            border: 2px solid black;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            margin-top: 200px;
        }

        .contact-box {
            border: 2px solid white;
            box-sizing: border-box;
            padding: 20px;
            background-color: black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 130px 0;
        }

        .contact-item {
            margin: 10px 0;
        }

        .contact-item img {
            vertical-align: middle;
            margin-right: 10px;
        }

        .contact-item a {
            color: white;
            text-decoration: none;
        }







        .forgegrid {
            width: 95vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            backdrop-filter: blur(1px);
        }

        .forgegrid-content {
            display: flex;
        }

        .forgegrid-content p {
            flex-grow: 1;
        }

        .forgegrid-item {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            position: relative;
            align-items: center;
            color: white;
            font-family: Verdana, sans-serif;
        }

        .forgesatir {
            width: 95vw;
            height: 15vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .forgegrid-image {
            width: 10vw;
            height: 5vh;
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
        }

        .forgegrid-item p {
            display: flex;
        }

        .gem-text {
            justify-content: center;
            margin: 5px;
            padding: 0;
            font-size: 9px;
            text-align: center;
        }






        .content-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        .bigoilbigbox {
            position: relative;
            padding: 20px;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 20px 0;
            box-sizing: border-box;
        }

        .engines-clues-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            
        }

        .map-image {
            background-image: url("../static/images/map.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            align-items: center;
            width: 100%;
            height: 320px;
            margin-top: 20px;
        }

        .engines-section, .clues-section {
            border: 1px solid black;
            box-sizing: border-box;
            position: sticky;
            z-index: 1;
            flex: 1;
            text-align: center;
            width: 100%;
            height: 50%;
            font-family: Verdana, sans-serif;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        .clue {
            font-size: 32px;
        }

        .bigoilcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0 10px;
            box-sizing: border-box;
        }

        .faq-title {
            width: 90%;
            background-color: white;
            border: 1px solid black;
            box-sizing: border-box;
            text-align: center;
            font-family: Verdana, sans-serif;
            padding: 0px 10px;
            margin: 0;
            font-size: 18px;
        }

        .faq-content {
            width: 90%;
            font-family: Verdana, sans-serif;
            background-color: white;
            border: 1px solid black;
            box-sizing: border-box;
            padding: 20px;
            margin: 10px;
            justify-self: start;
        }

        .faq-content p {
            margin: 20px 10px;
            text-align: left;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 20px 0;
            border: 1px solid black;
            box-sizing: border-box;
            width: 70%;
        }

        .imagetext {
            font-size: 16px;
            color: white;
            backdrop-filter: blur(1px);
        }

         .imagebigoil {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }






        #buttonContainer {
            display: flex;
            margin-top: 10px;
            width: 100%;
            justify-content: space-between;
        }

        .show {
            display: block;
        }

        #rectangle {
            width: 100%;
            height: 80vh;
            text-align: center;
            box-sizing: border-box;
            padding: 10px;
            position: relative;
        }

        #examMode {
            display: none;
        }

        #examResultsMode {
            display: none;
        }

        #faqMode {
            font-size: 15px;
            display: none;
            color: white;
        }

        #stat22Mode {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        #result {
            display: none;
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: white;
        }

        #noteInput {
            display: none;
            font-size: 36px;
            width: 60%;
            padding: 25px;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }

        #calculateButton {
            display: none;
            width: 60%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        #examResultsText {
            margin-top: 40px;
            font-size: 28px;
            color: white;
        }

        .modeButton {
            flex: 1;
            height: 35px;
            font-family: 'Verdana', sans-serif;
            background-color: transparent;
            color: white;
        }

        .dropdown {
            font-size: 20px;
            position: relative;
            display: inline-block;
        }

        .dropdown button {
            font-size: 20px;
            padding: 10px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            font-size: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 5;
        }

        .dropdown-content a {
            color: white;
            font-size: 20px;
            padding: 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            font-size: 20px;
        }

        .dropdown-gpa {
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dropdown-stat22 {
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .stat22RectanglesContainer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 60px;
        }

        .stat22RectanglesContainer2 {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 20px;
        }

        .stat22RectanglesContainer3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 90px;
        }

        .stat22Rectangle {
            width: 23%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            border: 1px solid white;
            box-sizing: border-box;
            color: white;
            backdrop-filter: blur(2px);
        }

        .semesterButtonsContainer {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            height: 60px;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            background-color: transparent;
        }

        .semesterButton {
            width: 25%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            border: 1px solid white;
            box-sizing: border-box;
            cursor: pointer;
            color: white;
            background-color: transparent;
        }

        .middleRectangle {
            width: 85%;
            height: 60%;
            position: absolute;
            top: 45%;
            left: 35%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: left;
            font-size: 10px;
            border: 1px solid #000;
            box-sizing: border-box;
            color: white;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        #rectangle select {
            font-size: 14px;
        }

        .rightrectangle {
            width: 20%;
            height: 60%;
            background-color: white;
            position: absolute;
            top: 45%;
            right: 40%;
            transform: translate(195%, -50%);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            margin: auto;
            border: 1px solid #000;
            box-sizing: border-box;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        .rightrectangleButton {
            width: 100%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            background-color: transparent;
            color: white;
        }

        .rightrectangletext {
            width: 100%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            color: white;
        }

        #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }

        #rectangle .lessonList li,
        #rectangle ul li {
            list-style-type: none;
            margin-bottom: 10px;
        }








        #gamemap {
            width: 100vw;
            height: 65vh;
            position: absolute;
            z-index: 1;
            display: flex;
            box-sizing: border-box;
        }

        #mini-map {
            width: 100vw;
            height: 30vh;
            z-index: 3;
            box-sizing: border-box;
        }

        .result-map {
            height: 35vh;
            width: 100%;
            border: 0.05vw solid black;
            margin-bottom: 2vh;
            box-sizing: border-box;
        }

        #overlay-container {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 35vh;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.05vw solid black;
            box-sizing: border-box;
        }

        #overlay-container.hovered {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 35vh;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.05vw solid black;
            box-sizing: border-box;
        }


        #action-button {
            width: 100%;
            height: 5vh;
            background-color: #4CAF50; /* Green */
            color: white;
            border: none;
            font-size: 1.2em;
            box-sizing: border-box;
        }

        #next-game-button {
            width: 100%;
            height: 5vh;
            box-sizing: border-box;
        }

        .modal {
            display: flex;
            flex-direction: column;
            display: none;
            position: fixed;
            z-index: 1;
            width: 100vw;
            height: 50vh;
            margin-top: 20vh;
            overflow: auto;
            border: 0.1vw solid black;
            box-sizing: border-box;
            justify-content: center;
            background-image: url("../static/images/izmirpixel.png");
        }

        .final-results-modal {
            display: flex;
            flex-direction: column;
            display: none;
            position: absolute;
            z-index: 4;
            width: 100vw;
            height: 50vh;
            margin-top: 20vh;
            overflow: auto;
            background-color: #fefefe;
            padding: 0.5vw;
            border: 0.1vw solid black;
            box-sizing: border-box;
            justify-content: center;
            box-sizing: border-box;
            background-repeat: repeat;
            background-image: url("../static/images/izmirpixel.png");
            align-items: center;
        }

        .modalrow {
            display: flex;
            flex-direction: row;
            width: 90vw;
            height: 5vh;
            margin-left: 5vw;
            justify-content: center;
            text-align: center;
            font-size: 2vh;
            font-family: Verdana;
            margin-top: 2vh;
            box-sizing: border-box;
            backdrop-filter: blur(1vw);
            border: 0.1vw solid black;
            align-items: center;
        }

        .finalrow {
            display: flex;
            flex-direction: row;
            width: 90vw;
            height: 5vh;
            margin-left: 5vw;
            margin-top: 6vh;
            justify-content: center;
            text-align: center;
            font-size: 2vh;
            font-family: Verdana;
            box-sizing: border-box;
            backdrop-filter: blur(1vw);
            border: 0.2vw solid black;
            align-items: center;
        }

        .modalcontent {
            flex: 1;
            margin: 0;
            box-sizing: border-box;
        }

        #result-info {
            margin-top: 2.35vh;
            box-sizing: border-box;
        }

        #returntomenu-button, #playagain-button {
            height: 4.2vh;
        }

        #mini-map .gmnoprint, #result-map .gmnoprint {
            display: none !important;
        }

        #buttonrow {
            width: 100vw;
            height: 8vh;
            background-color: transparent;
            font-size: 0.4vw;
            z-index: 5;
            position: absolute;
            overflow: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            box-sizing: border-box;            
        }

        .modaltoggle-button {
            display: none;
            margin-right: 0.1vw;
            margin-top: 1vh;
            width: 25vw;
            height: 5.5vh;
            box-sizing: border-box;
            background-color: #222222;
            color: white;
        }

        .returnbutton {
            margin-top: 1vh;
            margin-left: 3vw;
            margin-right: 3vw;
            width: 15vw;
            height: 6vh;
            transform: scale(0.8);
            background-image: url('../static/images/return40gray.png');
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            border: 0.05vw solid black;
            border-radius: 0.5vh;
            box-sizing: border-box;
        }

        .returnbutton:hover {
            background-image: url('../static/images/return40normal.png');
        }

        .izmirclose {
            margin-top: 1vh;
            width: 15vw;
            height: 6vh;
            transform: scale(0.8); 
            background-image: url('../static/images/izmirclose1.png');
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            border: 0.05vw solid black;
            border-radius: 0.5vh;
            box-sizing: border-box;
        }

        .izmirclose:hover {
            background-image: url('../static/images/izmirclose2.png');
        }

        #return-button, #overlay-container {
            display: none;
        }

        /* styles2.css */

        #map2 {
            width: 100vw;
            height: 40vh;
            display: block;
            border: 0.5vw solid black;
            box-sizing: border-box;
        }

        .startpage {
            width: 100vw;
            height: 89vh;
            display: flex;
            flex-direction: column-reverse;
            box-sizing: border-box;
            overflow: hidden;
        }

        .startpagelefthalf {
            width: 100vw;
            height: 40vh;
            box-sizing: border-box;
        }

        .faq-menu {
            width: 100vw;
            height: 35vh;
            box-sizing: border-box;
            display: none;
            background-color: white;
            border: 0.25vw solid black;
        }

        .faq-menu.show {
            display: block;
        }

        .izmirfaqtext1 {
            font-size: 4vw;
            color: red;
        }

        .izmirfaqtext2 {
            font-size: 8vw;
        }

        .izmirfaqtext3 {
            font-size: 2.8vw;
            color: gray;
        }

        .startpagerighthalf {
            width: 100vw;
            height: 59vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border: 0.5vw solid black;
            background-image: url("../static/images/izmirpixel.png");
            background-repeat: repeat;
        }

        .izmirgamelogo {
            width: 90vw;
            height: 10.68vh;
            margin-left: 5vw;
            box-sizing: border-box;
            background-image: url("../static/images/izmirlogo.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            backdrop-filter: blur(1vw);
            border: 0.2vh solid black;
        }

        .izmirilcebox {
            width: 100vw;
            height: 29.8vh;
            align-items: center;
            box-sizing: border-box;
        }

        .highscore {
            display: flex;
            flex-direction: row;
            font-size: 4vw;
            margin-left: 1.5vw;
        }

        .izmirfaq {
            width: 50%;
            height: 100%;
            font-size: 2vh;
            margin-left: 1vw;
            margin-right: 1vw;
        }

        #timer {
            display: none;
            margin-right: 3vw;
            margin-top: 1vh;
            width: 40vw;
            height: 5.5vh;
            box-sizing: border-box;
            background-color: #222222;
            color: white;
            font-size: 4vw;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-radius: 0.5vh;
        }

        .izmirilcebuttons {
            width: 100vw;
            height: 26.24vh;
            padding: 1vw;
            box-sizing: border-box;
            backdrop-filter: blur(1vw);
            justify-content: center;
            align-items: center;
        }

        .ilcebutton {
            font-size: 2.2vh;
        }

        .izmirilcebottombuttons {
            width: 100vw;
            height: 3.56vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            backdrop-filter: blur(1vw);
        }

        .addremovebuttons {
            font-size: 3vw;
            margin: 0.1vw;
            margin-left: 2vw;
        }

        .ilcesayisi {
            font-size: 4vw;
            margin-left: 10vw;
            text-align: center;
        }

        .izmirlastrows {
            width: 100vw;
            height: 6.06vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            backdrop-filter: blur(1vw);
            align-items: center;
        }

        .izmirayarlar {
            font-size: 4vw;
            margin-left: 1vw;
            margin-right: 10vw;
            padding: 2vw;
            display: flex;
            flex-direction: row;
        }

        .izmirstartgame {
            width: 100%;
            height: 100%;
            margin-left: 2vw;
            font-size: 2vh;
            margin-right: 1vw;
        }

        #izmirtime {
            font-size: 3vw;
        }
