		
		body {
	    	background-image: url("../static/images/cloud.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
			text-align: center;
        }

        .title-section {
            background-image: url("../static/images/thunder.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 0.2vw solid black;
            margin-bottom: 0.9vh;
        }

        .main-menu-text {
            font-size: 2vw;
            text-align: center; 
            color: white;
            margin: 0;
            text-shadow: 0.1vw 0.2vh #b5b5b5;
            backdrop-filter: blur(0.2vw);
        }

        .project-buttons {
            display: flex;
        }

        .main-menu-button {
            cursor: pointer;
            width: 4vw;
            height: 8vh;
        }

        .category-button {
            background: white;
            border: 0.1vw solid black;
            box-sizing: border-box;
            font-size: 1vw;
            color: black;
            text-decoration: none;
            padding: 0.3vw 2.5vh;
            cursor: pointer;
            margin: 0.5vw 1vh;
            position: relative;
        }

        .project-box {
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-align: left;
            width: 42vw;
            height: 21vh;
            margin: 1vw;
            padding: 0.5vw;
            border: 0.05vw solid rgba(0,0,0,0.3);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border-radius: 0.4vw;
            backdrop-filter: blur(0.1vw);
            box-shadow: 0 0.05vw 0.63vw rgba(255,255,255,0.25);
        }

        .project-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.5vh;
        }

        .project-button {
            width: 26vw;
            font-size: 1.2vw;
        }

        .release-date {
            margin-left: auto;
        }

        .project-content {
            display: flex;
            align-items: center;
        }

        .project-logo {
            width: 7.8vw;
            height: 7.8vw;
            margin-right: 0.5vw;
        }

        .project-description {
            flex: 1;
            height: 16vh;
            margin-left: 0.5vw;
        }

        .placeholder-box {
            background: white;
            border: 0.1vw solid black;
            box-sizing: border-box;
            padding: 0.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 35vh;
        }

        .contact-item {
            margin: 0.5vw 0;
        }

        .contact-item img {
            vertical-align: middle;
            margin-right: 0.5vw;
        }

        .contact-item a {
            color: white;
            text-decoration: none;
        }

		.contact-box {
            border: 0.1vw solid white;
            box-sizing: border-box;
            padding: 1vw;
            background-color: black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30vh;
        }







        .forgegrid {
            width: 90vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .forgegrid-content {
            display: flex;
        }

        .forgegrid-content p {
            flex-grow: 1;
        }

        .forgegrid-item {
            width: 47%;
            height: 90%;
            background-color: #ccc;
            border: 0.05vw solid #000;
            box-sizing: border-box;
            position: relative;
            justify-content: space-between;
            align-items: center;
        }

        .forgesatir {
            width: 90vw;
            height: 11vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .forgegrid-image {
            width: 4vw;
            height: 8vh;
            position: absolute;
            left: 0.5vw;
            top: 50%;
            transform: translateY(-50%);
        }

        .forgegrid-item p {
            flex-grow: 1;
            white-space: nowrap;
            display: flex;
        }

        .gem-text {
            justify-content: center;
            margin: 0.68vw;
            padding: 0;
        }







        .content-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        .bigoilbigbox {
            position: relative;
            padding: 1vw;
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 1vw 0;
            box-sizing: border-box;
        }

        .engines-clues-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
        }

        .map-image {
            background-image: url("../static/images/map.png");
            padding: 1vw;
            color: black;
            background-color: white;
            border: 0.05vw solid black;
            box-sizing: border-box;
            width: 32%;
            height: 65vh;
        }

        .engine-list {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
        }

        .engines-section, .clues-section {
            background-color: white;
            width: 34%;
            height: 100%;
            border: 0.05vw solid black;
            box-sizing: border-box;
            font-size: 1.6vw;
            position: sticky;
            z-index: 1;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow: auto;
            font-family: Verdana, sans-serif;
            height: 65vh;
        }

        .bigoilcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0 0.9vh;
            box-sizing: border-box;
        }

        .faq-title {
            background-color: white;
            border: 0.05vw solid black;
            box-sizing: border-box;
            text-align: center;
            font-family: Verdana, sans-serif;
            padding: 0 0.9vh;
            margin: 0;
            font-size: 1vw;
        }

        .faq-content {
            font-family: Verdana, sans-serif;
            background-color: white;
            border: 0.05vw solid black;
            box-sizing: border-box;
            padding: 1vw;
            margin: 0.5vw;
            justify-self: start;
        }

        .faq-content p {
            margin: 1vw 0.9vh;
            text-align: left;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 1vw 0;
            border: 0.05vw solid black;
            box-sizing: border-box;
            width: 70%;
        }

        .imagetext {
            font-size: 1vw;
            color: white;
            backdrop-filter: blur(0.2vw);
        }

        .imagebigoil {
            text-align: center;
            margin-bottom: 0.9vh;
            width: 28vw;
            height: 50vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }





        #buttonContainer {
            display: flex;
            margin-top: 1.85vh;
            width: 80%;
            justify-content: space-between;
            background-color: transparent;
            border-radius: 0.4vw;
            backdrop-filter: blur(0.15vw);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 0.05vw 0.6vw rgba(0,0,0,0.25);
        }

        .show {
            display: block;
        }

        #rectangle {
            width: 80vw;
            height: 80vh;
            text-align: center;
            padding: 1vw 1vh;
            position: relative;
            box-sizing: border-box;
            color: white;
            border-radius: 0.4vw;
            backdrop-filter: blur(0.1vw);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 0.05vw 0.6vw rgba(0,0,0,0.25);
            border: 0.05vw solid rgba(255,255,255,0.3);
        }

        #rectangle .lessonList li, #rectangle ul li {
            list-style-type: none;
            margin-bottom: 1.2vh;
            color: white;
        }

        #rectangle select {
            font-size: 1.1vw;
        }

        #examMode {
            display: none;
        }

        #examResultsMode {
            display: none;
        }

        #faqMode {
            font-size: 1vw;
            display: none;
        }

        #stat22Mode {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        #result {
            display: none;
            font-size: 1.87vw;
            margin-top: 1.84vh;
            margin-bottom: 0.92vh;
        }

        #noteInput {
            display: none;
            font-size: 1.87vw;
            width: 60%;
            padding: 1.3vw;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 2.77vh;
            margin-bottom: 2.77vh;
            text-align: center;
        }

        #calculateButton {
            display: none;
            width: 20%;
            margin-top: 1.85vh;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
        }

        #examResultsText {
            margin-top: 3.7vh;
            font-size: 1.87vw;
        }

        .modeButton {
            flex: 1;
            height: 1.82vw;
            font-family: 'Verdana', sans-serif;
            box-sizing: border-box;
            color: white;
            background-color: transparent;
        }

        .dropdown {
            font-size: 1vw;
            position: relative;
            display: inline-block;
        }

        .dropdown button {
            font-size: 1vw;
            padding: 0.52vw 0.92vh;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            font-size: 1vw;
            box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2);
            z-index: 5;
        }

        .dropdown-content a {
            color: white;
            font-size: 1vw;
            padding: 0.88vw;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            font-size: 1vw;
            color: white;
        }

        .dropdown-gpa {
            font-size: 1vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dropdown-stat22 {
            font-size: 1vw;
            position: absolute;
            top: 0;
            right: 0;
        }

        .stat22RectanglesContainer {
            position: absolute;
            bottom: 0;
            width: 75vw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 3.05vw;
            padding-left: 3vw;
        }

        .stat22RectanglesContainer2 {
            position: absolute;
            bottom: 0;
            width: 75vw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 1vw;
            padding-left: 3vw;
        }

        .stat22RectanglesContainer3 {
            position: absolute;
            bottom: 0;
            width: 75vw;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 4.68vw;
            padding-left: 3vw;
        }

        .stat22Rectangle {
            width: 24%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3vw;
            border: 0.05vw solid white;
            box-sizing: border-box;
        }

        .semesterButtonsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            margin-top: 2.5vh;
        }

        .semesterButton {
            width: 11%;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3vw;
            border: 0.05vw solid white;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: 0.4vw;
            margin-right: 0.4vw;
            background-color: transparent;
            color: white;
        }

        .middleRectangle {
            width: 80%;
            height: 60%;
            position: absolute;
            top: 45%;
            left: 40%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: left;
            font-size: 1.47vw;
            box-sizing: border-box;
            margin-left: 1vw;
        }

        .rightrectangle {
            width: 20%;
            height: 60%;
            position: absolute;
            top: 45%;
            right: 40%;
            transform: translate(195%, -50%);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.6vw;
            margin: auto;
        }

        .rightrectangleButton {
            width: 80%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.08vw;
            border: 0.05vw solid white;
            box-sizing: border-box;
            cursor: pointer;
            margin: auto;
            color: white;
            background-color: transparent;
        }

        .rightrectangletext {
            width: 80%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 1.3vw;
            border: 0.05vw solid white;
            box-sizing: border-box;
            margin: auto;
            color: white;
        }

        #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }
