
        html {
            background-image: url("../static/images/cloud.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        body {
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-section {
            background-image: url("../static/images/thunder.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 3px solid black;
            margin-bottom: 10px;
        }

        .main-menu-button {
            width: 10%;
            cursor: pointer;
            width: 50px;
            height: 50px;
        }

        .main-menu-text {
            width: 50%;
            font-size: 13px;
            padding: 5px 5px;
            text-align: left;
            margin-left: 10px;
            margin-right: 10px;
            color: white;
            margin: 0;
        }

        .project-button {
            width: 330px;
        }

        .project-buttons {
            width: 40%;
            display: flex;
            align-items: center;
            margin-left: auto;
            top: 0;
            right: 0;
        }

        .category-button {
            background: white;
            border: 2px solid black;
            box-sizing: border-box;
            font-size: 8px;
            color: black;
            padding: 5px 5px;
            cursor: pointer;
            margin: 5px 3px;
            position: relative;
        }

        .project-box {
            font-size: 15px;
            text-align: center;
            width: 300px;
            height: 300px;
            margin: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0,0,0,0.5);
            color: white;
            border: 1px solid rgba(0,0,0,0.3);
            box-sizing: border-box;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            box-shadow: 0 1px 12px rgba(255,255,255,0.25);
        }

        .project-info {
            display: flex;
            font-size: 15px; 
            justify-content: space-between; 
            align-items: center;
            margin-bottom: 40px; 
        }

        .release-date {
            margin-left: auto; 
            font-size: 14px; 
        }

        .project-content {
            display: flex;
            align-items: center;
        }

        .project-logo {
            width: 100px; 
            height: 100px;
            margin-right: 10px;
        }

        .project-description {
            flex: 1; 
            margin-left: 10px; 
        }

        .placeholder-box {
            width: 90vw;
            height: 13vh;
            background: white;
            border: 2px solid black;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            margin-top: 200px;
        }

        .contact-box {
            border: 2px solid white;
            box-sizing: border-box;
            padding: 20px;
            background-color: black;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 130px 0;
        }

        .contact-item {
            margin: 10px 0;
        }

        .contact-item img {
            vertical-align: middle;
            margin-right: 10px;
        }

        .contact-item a {
            color: white;
            text-decoration: none;
        }







        .forgegrid {
            width: 95vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            backdrop-filter: blur(1px);
        }

        .forgegrid-content {
            display: flex;
        }

        .forgegrid-content p {
            flex-grow: 1;
        }

        .forgegrid-item {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            position: relative;
            align-items: center;
            color: white;
            font-family: Verdana, sans-serif;
        }

        .forgesatir {
            width: 95vw;
            height: 15vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .forgegrid-image {
            width: 10vw;
            height: 5vh;
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
        }

        .forgegrid-item p {
            display: flex;
        }

        .gem-text {
            justify-content: center;
            margin: 5px;
            padding: 0;
            font-size: 9px;
            text-align: center;
        }






        .content-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
        }

        .bigoilbigbox {
            position: relative;
            padding: 20px;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 20px 0;
            box-sizing: border-box;
        }

        .engines-clues-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            
        }

        .map-image {
            background-image: url("../static/images/map.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            align-items: center;
            width: 100%;
            height: 320px;
            margin-top: 20px;
        }

        .engines-section, .clues-section {
            border: 1px solid black;
            box-sizing: border-box;
            position: sticky;
            z-index: 1;
            flex: 1;
            text-align: center;
            width: 100%;
            height: 50%;
            font-family: Verdana, sans-serif;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        .clue {
            font-size: 32px;
        }

        .bigoilcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0 10px;
            box-sizing: border-box;
        }

        .faq-title {
            width: 90%;
            background-color: white;
            border: 1px solid black;
            box-sizing: border-box;
            text-align: center;
            font-family: Verdana, sans-serif;
            padding: 0px 10px;
            margin: 0;
            font-size: 18px;
        }

        .faq-content {
            width: 90%;
            font-family: Verdana, sans-serif;
            background-color: white;
            border: 1px solid black;
            box-sizing: border-box;
            padding: 20px;
            margin: 10px;
            justify-self: start;
        }

        .faq-content p {
            margin: 20px 10px;
            text-align: left;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 20px 0;
            border: 1px solid black;
            box-sizing: border-box;
            width: 70%;
        }

        .imagetext {
            font-size: 16px;
            color: white;
            backdrop-filter: blur(1px);
        }

         .imagebigoil {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }






        #buttonContainer {
            display: flex;
            margin-top: 10px;
            width: 100%;
            justify-content: space-between;
        }

        .show {
            display: block;
        }

        #rectangle {
            width: 100%;
            height: 80vh;
            text-align: center;
            box-sizing: border-box;
            padding: 10px;
            position: relative;
        }

        #examMode {
            display: none;
        }

        #examResultsMode {
            display: none;
        }

        #faqMode {
            font-size: 15px;
            display: none;
            color: white;
        }

        #stat22Mode {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        #result {
            display: none;
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: white;
        }

        #noteInput {
            display: none;
            font-size: 36px;
            width: 60%;
            padding: 25px;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }

        #calculateButton {
            display: none;
            width: 60%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        #examResultsText {
            margin-top: 40px;
            font-size: 28px;
            color: white;
        }

        .modeButton {
            flex: 1;
            height: 35px;
            font-family: 'Verdana', sans-serif;
            background-color: transparent;
            color: white;
        }

        .dropdown {
            font-size: 20px;
            position: relative;
            display: inline-block;
        }

        .dropdown button {
            font-size: 20px;
            padding: 10px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            font-size: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 5;
        }

        .dropdown-content a {
            color: white;
            font-size: 20px;
            padding: 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            font-size: 20px;
        }

        .dropdown-gpa {
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dropdown-stat22 {
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .stat22RectanglesContainer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 60px;
        }

        .stat22RectanglesContainer2 {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 20px;
        }

        .stat22RectanglesContainer3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-bottom: 90px;
        }

        .stat22Rectangle {
            width: 23%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            border: 1px solid white;
            box-sizing: border-box;
            color: white;
            backdrop-filter: blur(2px);
        }

        .semesterButtonsContainer {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            height: 60px;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            background-color: transparent;
        }

        .semesterButton {
            width: 25%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            border: 1px solid white;
            box-sizing: border-box;
            cursor: pointer;
            color: white;
            background-color: transparent;
        }

        .middleRectangle {
            width: 85%;
            height: 60%;
            position: absolute;
            top: 45%;
            left: 35%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: left;
            font-size: 10px;
            border: 1px solid #000;
            box-sizing: border-box;
            color: white;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        #rectangle select {
            font-size: 14px;
        }

        .rightrectangle {
            width: 20%;
            height: 60%;
            background-color: white;
            position: absolute;
            top: 45%;
            right: 40%;
            transform: translate(195%, -50%);
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            margin: auto;
            border: 1px solid #000;
            box-sizing: border-box;
            border-radius: 8px;
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 1px 12px rgba(0,0,0,0.25);
            border: 1px solid rgba(255,255,255,0.3);
        }

        .rightrectangleButton {
            width: 100%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            background-color: transparent;
            color: white;
        }

        .rightrectangletext {
            width: 100%;
            height: 50%;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            color: white;
        }

        #donem1Mode, #donem2Mode, #donem3Mode, #donem4Mode, #donem5Mode, #donem6Mode, #donem7Mode, #donem8Mode { display: none; }

        #rectangle .lessonList li,
        #rectangle ul li {
            list-style-type: none;
            margin-bottom: 10px;
        }
